/*
BSG SMS Gateway API

Comprehensive API for sending SMS, Viber messages, HLR/MNP requests and service management

API version: 1.0.0
Contact: support@bsg.world
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapiv1

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// MnpSyncCreateAPIService MnpSyncCreateAPI service
type MnpSyncCreateAPIService service

type ApiMnpSyncCreateObjectsRequest struct {
	ctx context.Context
	ApiService *MnpSyncCreateAPIService
	msisdn *string
	tariff *int32
	mnpCreateRequest *MnpCreateRequest
}

// Phone number in international format (alternative to JSON body)
func (r ApiMnpSyncCreateObjectsRequest) Msisdn(msisdn string) ApiMnpSyncCreateObjectsRequest {
	r.msisdn = &msisdn
	return r
}

// Tariff code (optional, uses default if not provided)
func (r ApiMnpSyncCreateObjectsRequest) Tariff(tariff int32) ApiMnpSyncCreateObjectsRequest {
	r.tariff = &tariff
	return r
}

// JSON payload for batch requests or alternative to query parameters
func (r ApiMnpSyncCreateObjectsRequest) MnpCreateRequest(mnpCreateRequest MnpCreateRequest) ApiMnpSyncCreateObjectsRequest {
	r.mnpCreateRequest = &mnpCreateRequest
	return r
}

func (r ApiMnpSyncCreateObjectsRequest) Execute() (*MnpCreateResponse, *http.Response, error) {
	return r.ApiService.MnpSyncCreateObjectsExecute(r)
}

/*
MnpSyncCreateObjects Perform synchronous MNP lookup

Perform synchronous MNP lookup with immediate response. Supports both JSON payload and query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMnpSyncCreateObjectsRequest
*/
func (a *MnpSyncCreateAPIService) MnpSyncCreateObjects(ctx context.Context) ApiMnpSyncCreateObjectsRequest {
	return ApiMnpSyncCreateObjectsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MnpCreateResponse
func (a *MnpSyncCreateAPIService) MnpSyncCreateObjectsExecute(r ApiMnpSyncCreateObjectsRequest) (*MnpCreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MnpCreateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MnpSyncCreateAPIService.MnpSyncCreateObjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/mnp-sync/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.msisdn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "msisdn", r.msisdn, "form", "")
	}
	if r.tariff != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tariff", r.tariff, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.mnpCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-KEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v HttpError500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
