/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ShortUrlsLinkCreateAPIService ShortUrlsLinkCreateAPI service
type ShortUrlsLinkCreateAPIService service

type ApiShortUrlsLinkCreateRequest struct {
	ctx context.Context
	ApiService *ShortUrlsLinkCreateAPIService
	linkStoreRequest *LinkStoreRequest
}

func (r ApiShortUrlsLinkCreateRequest) LinkStoreRequest(linkStoreRequest LinkStoreRequest) ApiShortUrlsLinkCreateRequest {
	r.linkStoreRequest = &linkStoreRequest
	return r
}

func (r ApiShortUrlsLinkCreateRequest) Execute() (*ShortUrlsLinkCreate201Response, *http.Response, error) {
	return r.ApiService.ShortUrlsLinkCreateExecute(r)
}

/*
ShortUrlsLinkCreate Create short link

Create a short link for original link.

**Please note:** *Response contains new link status. If original link is used at first time it may not pass the moderation automatically.
Be careful only link in **active** status can be used for redirect!*

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiShortUrlsLinkCreateRequest
*/
func (a *ShortUrlsLinkCreateAPIService) ShortUrlsLinkCreate(ctx context.Context) ApiShortUrlsLinkCreateRequest {
	return ApiShortUrlsLinkCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ShortUrlsLinkCreate201Response
func (a *ShortUrlsLinkCreateAPIService) ShortUrlsLinkCreateExecute(r ApiShortUrlsLinkCreateRequest) (*ShortUrlsLinkCreate201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ShortUrlsLinkCreate201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShortUrlsLinkCreateAPIService.ShortUrlsLinkCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/short-url/links"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.linkStoreRequest == nil {
		return localVarReturnValue, nil, reportError("linkStoreRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.linkStoreRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v TooManyRequestsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
