/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SmsSendIndividualAPIService SmsSendIndividualAPI service
type SmsSendIndividualAPIService service

type ApiSmsSendIndividualRequest struct {
	ctx context.Context
	ApiService *SmsSendIndividualAPIService
	smsSendIndividualRequest *SmsSendIndividualRequest
}

func (r ApiSmsSendIndividualRequest) SmsSendIndividualRequest(smsSendIndividualRequest SmsSendIndividualRequest) ApiSmsSendIndividualRequest {
	r.smsSendIndividualRequest = &smsSendIndividualRequest
	return r
}

func (r ApiSmsSendIndividualRequest) Execute() (*SmsCampaignResponse, *http.Response, error) {
	return r.ApiService.SmsSendIndividualExecute(r)
}

/*
SmsSendIndividual Send SMS with different text

Send SMS with different text to list of phones

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSmsSendIndividualRequest
*/
func (a *SmsSendIndividualAPIService) SmsSendIndividual(ctx context.Context) ApiSmsSendIndividualRequest {
	return ApiSmsSendIndividualRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SmsCampaignResponse
func (a *SmsSendIndividualAPIService) SmsSendIndividualExecute(r ApiSmsSendIndividualRequest) (*SmsCampaignResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SmsCampaignResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsSendIndividualAPIService.SmsSendIndividual")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/campaigns/sms/send-individual"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.smsSendIndividualRequest == nil {
		return localVarReturnValue, nil, reportError("smsSendIndividualRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.smsSendIndividualRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v TooManyRequestsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
