/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ShortUrlsLinkUpdateAPIService ShortUrlsLinkUpdateAPI service
type ShortUrlsLinkUpdateAPIService service

type ApiShortUrlsLinkUpdateRequest struct {
	ctx context.Context
	ApiService *ShortUrlsLinkUpdateAPIService
	uuid string
	linkUpdateRequest *LinkUpdateRequest
}

func (r ApiShortUrlsLinkUpdateRequest) LinkUpdateRequest(linkUpdateRequest LinkUpdateRequest) ApiShortUrlsLinkUpdateRequest {
	r.linkUpdateRequest = &linkUpdateRequest
	return r
}

func (r ApiShortUrlsLinkUpdateRequest) Execute() (*ShortUrlsLinkUpdate200Response, *http.Response, error) {
	return r.ApiService.ShortUrlsLinkUpdateExecute(r)
}

/*
ShortUrlsLinkUpdate Update short link

You can update short link name, slug or original link

**Please note:** If you change the original link to new one that hasn't been ever used before it may requires moderation
and short link status may be changed to *blocked*

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param uuid Uuid of entity
 @return ApiShortUrlsLinkUpdateRequest
*/
func (a *ShortUrlsLinkUpdateAPIService) ShortUrlsLinkUpdate(ctx context.Context, uuid string) ApiShortUrlsLinkUpdateRequest {
	return ApiShortUrlsLinkUpdateRequest{
		ApiService: a,
		ctx: ctx,
		uuid: uuid,
	}
}

// Execute executes the request
//  @return ShortUrlsLinkUpdate200Response
func (a *ShortUrlsLinkUpdateAPIService) ShortUrlsLinkUpdateExecute(r ApiShortUrlsLinkUpdateRequest) (*ShortUrlsLinkUpdate200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ShortUrlsLinkUpdate200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShortUrlsLinkUpdateAPIService.ShortUrlsLinkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/short-url/links/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.linkUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("linkUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.linkUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ShortUrlsLinkUpdate422Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
