/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AccountTariffsAPIService AccountTariffsAPI service
type AccountTariffsAPIService service

type ApiAccountTariffsRequest struct {
	ctx context.Context
	ApiService *AccountTariffsAPIService
	pageOffset *int32
	pageLimit *int32
}

func (r ApiAccountTariffsRequest) PageOffset(pageOffset int32) ApiAccountTariffsRequest {
	r.pageOffset = &pageOffset
	return r
}

// The number of items in the response
func (r ApiAccountTariffsRequest) PageLimit(pageLimit int32) ApiAccountTariffsRequest {
	r.pageLimit = &pageLimit
	return r
}

func (r ApiAccountTariffsRequest) Execute() (*AccountTariffs200Response, *http.Response, error) {
	return r.ApiService.AccountTariffsExecute(r)
}

/*
AccountTariffs Get tariffs

This API allows you to get detailed information about the tariffs for sending SMS and Viber messages, as well as phone Number Verifier requests.

All rates are specified in the currency that is set in the account settings on the Platform.

The method transmits information about all available account tariffs for the SMS / 2 Way SMS, Viber, and Number Verifier service

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccountTariffsRequest
*/
func (a *AccountTariffsAPIService) AccountTariffs(ctx context.Context) ApiAccountTariffsRequest {
	return ApiAccountTariffsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountTariffs200Response
func (a *AccountTariffsAPIService) AccountTariffsExecute(r ApiAccountTariffsRequest) (*AccountTariffs200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountTariffs200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountTariffsAPIService.AccountTariffs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/accounts/tariff"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[offset]", r.pageOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pageOffset = &defaultValue
	}
	if r.pageLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[limit]", r.pageLimit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageLimit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
