/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SenderRequestNaturalAPIService SenderRequestNaturalAPI service
type SenderRequestNaturalAPIService service

type ApiSenderRequestNaturalRequest struct {
	ctx context.Context
	ApiService *SenderRequestNaturalAPIService
	senderRequestNaturalRequest *SenderRequestNaturalRequest
}

func (r ApiSenderRequestNaturalRequest) SenderRequestNaturalRequest(senderRequestNaturalRequest SenderRequestNaturalRequest) ApiSenderRequestNaturalRequest {
	r.senderRequestNaturalRequest = &senderRequestNaturalRequest
	return r
}

func (r ApiSenderRequestNaturalRequest) Execute() (*SenderRequestNatural201Response, *http.Response, error) {
	return r.ApiService.SenderRequestNaturalExecute(r)
}

/*
SenderRequestNatural Sender registration by an individual

Method for submitting an application for registration of the SMS Sender’s name (Alpha-name) with a mobile operator by a subject individual.

**Please note:** that Sender registration is not available in Demo and Test account modes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSenderRequestNaturalRequest
*/
func (a *SenderRequestNaturalAPIService) SenderRequestNatural(ctx context.Context) ApiSenderRequestNaturalRequest {
	return ApiSenderRequestNaturalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SenderRequestNatural201Response
func (a *SenderRequestNaturalAPIService) SenderRequestNaturalExecute(r ApiSenderRequestNaturalRequest) (*SenderRequestNatural201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SenderRequestNatural201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SenderRequestNaturalAPIService.SenderRequestNatural")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/senders/requests/natural"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.senderRequestNaturalRequest == nil {
		return localVarReturnValue, nil, reportError("senderRequestNaturalRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.senderRequestNaturalRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v TooManyRequestsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
