/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ContactsSearchAPIService ContactsSearchAPI service
type ContactsSearchAPIService service

type ApiContactsSearchRequest struct {
	ctx context.Context
	ApiService *ContactsSearchAPIService
	pageOffset *int32
	pageLimit *int32
	sort *string
	way *SortWay
	searchField *string
	searchOperator *SearchOperator
	searchValue *string
	searchFields0Field *string
	searchFields0Operator *SearchOperator
	searchFields0Value *string
}

func (r ApiContactsSearchRequest) PageOffset(pageOffset int32) ApiContactsSearchRequest {
	r.pageOffset = &pageOffset
	return r
}

// The number of items in the response
func (r ApiContactsSearchRequest) PageLimit(pageLimit int32) ApiContactsSearchRequest {
	r.pageLimit = &pageLimit
	return r
}

// Sort by conditions: id, phone
func (r ApiContactsSearchRequest) Sort(sort string) ApiContactsSearchRequest {
	r.sort = &sort
	return r
}

func (r ApiContactsSearchRequest) Way(way SortWay) ApiContactsSearchRequest {
	r.way = &way
	return r
}

func (r ApiContactsSearchRequest) SearchField(searchField string) ApiContactsSearchRequest {
	r.searchField = &searchField
	return r
}

func (r ApiContactsSearchRequest) SearchOperator(searchOperator SearchOperator) ApiContactsSearchRequest {
	r.searchOperator = &searchOperator
	return r
}

func (r ApiContactsSearchRequest) SearchValue(searchValue string) ApiContactsSearchRequest {
	r.searchValue = &searchValue
	return r
}

func (r ApiContactsSearchRequest) SearchFields0Field(searchFields0Field string) ApiContactsSearchRequest {
	r.searchFields0Field = &searchFields0Field
	return r
}

func (r ApiContactsSearchRequest) SearchFields0Operator(searchFields0Operator SearchOperator) ApiContactsSearchRequest {
	r.searchFields0Operator = &searchFields0Operator
	return r
}

func (r ApiContactsSearchRequest) SearchFields0Value(searchFields0Value string) ApiContactsSearchRequest {
	r.searchFields0Value = &searchFields0Value
	return r
}

func (r ApiContactsSearchRequest) Execute() (*ContactsSearch200Response, *http.Response, error) {
	return r.ApiService.ContactsSearchExecute(r)
}

/*
ContactsSearch Search contacts

Method for searching contacts in the Contact Book. In the search, it is possible to use operations: like, =, >, >=, <, <=.

Search is possible by the following fields: 

- id:  =, >, >=, <, <=
- phone: like, =
- {field_id}:
  - for field with "Text" type: like, =
  - for field with "Number" type:  =, >, >=, <, <=
  - for field with "Date" type: =, >, >=, <, <=

It’s possible to pass multiple criteria by pass `search_fields` array instead of `search`


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContactsSearchRequest
*/
func (a *ContactsSearchAPIService) ContactsSearch(ctx context.Context) ApiContactsSearchRequest {
	return ApiContactsSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ContactsSearch200Response
func (a *ContactsSearchAPIService) ContactsSearchExecute(r ApiContactsSearchRequest) (*ContactsSearch200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContactsSearch200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsSearchAPIService.ContactsSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/contacts/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[offset]", r.pageOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pageOffset = &defaultValue
	}
	if r.pageLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[limit]", r.pageLimit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageLimit = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		r.sort = &defaultValue
	}
	if r.way != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "way", r.way, "form", "")
	} else {
		var defaultValue SortWay = "asc"
		r.way = &defaultValue
	}
	if r.searchField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[field]", r.searchField, "form", "")
	}
	if r.searchOperator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[operator]", r.searchOperator, "form", "")
	}
	if r.searchValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[value]", r.searchValue, "form", "")
	}
	if r.searchFields0Field != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_fields[0][field]", r.searchFields0Field, "form", "")
	}
	if r.searchFields0Operator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_fields[0][operator]", r.searchFields0Operator, "form", "")
	}
	if r.searchFields0Value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_fields[0][value]", r.searchFields0Value, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
