/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// OtpTemplateListAPIService OtpTemplateListAPI service
type OtpTemplateListAPIService service

type ApiOtpTemplateListRequest struct {
	ctx context.Context
	ApiService *OtpTemplateListAPIService
	pageOffset *int32
	pageLimit *int32
	filterIds *[]int32
	filterStatus *string
	sort *string
	way *SortWay
}

func (r ApiOtpTemplateListRequest) PageOffset(pageOffset int32) ApiOtpTemplateListRequest {
	r.pageOffset = &pageOffset
	return r
}

func (r ApiOtpTemplateListRequest) PageLimit(pageLimit int32) ApiOtpTemplateListRequest {
	r.pageLimit = &pageLimit
	return r
}

func (r ApiOtpTemplateListRequest) FilterIds(filterIds []int32) ApiOtpTemplateListRequest {
	r.filterIds = &filterIds
	return r
}

func (r ApiOtpTemplateListRequest) FilterStatus(filterStatus string) ApiOtpTemplateListRequest {
	r.filterStatus = &filterStatus
	return r
}

// Sorting by
func (r ApiOtpTemplateListRequest) Sort(sort string) ApiOtpTemplateListRequest {
	r.sort = &sort
	return r
}

func (r ApiOtpTemplateListRequest) Way(way SortWay) ApiOtpTemplateListRequest {
	r.way = &way
	return r
}

func (r ApiOtpTemplateListRequest) Execute() (*OtpTemplateList200Response, *http.Response, error) {
	return r.ApiService.OtpTemplateListExecute(r)
}

/*
OtpTemplateList List of message templates

This method returns a list of message templates for sending OTR code, allowing you to filter them by various parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOtpTemplateListRequest
*/
func (a *OtpTemplateListAPIService) OtpTemplateList(ctx context.Context) ApiOtpTemplateListRequest {
	return ApiOtpTemplateListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OtpTemplateList200Response
func (a *OtpTemplateListAPIService) OtpTemplateListExecute(r ApiOtpTemplateListRequest) (*OtpTemplateList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OtpTemplateList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OtpTemplateListAPIService.OtpTemplateList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2fa/authentications/templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[offset]", r.pageOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pageOffset = &defaultValue
	}
	if r.pageLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[limit]", r.pageLimit, "form", "")
	} else {
		var defaultValue int32 = 10
		r.pageLimit = &defaultValue
	}
	if r.filterIds != nil {
		t := *r.filterIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ids]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ids]", t, "form", "multi")
		}
	}
	if r.filterStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[status]", r.filterStatus, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "template_id"
		r.sort = &defaultValue
	}
	if r.way != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "way", r.way, "form", "")
	} else {
		var defaultValue SortWay = "asc"
		r.way = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
