/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// SenderRequestsAPIService SenderRequestsAPI service
type SenderRequestsAPIService service

type ApiSenderRequestsRequest struct {
	ctx context.Context
	ApiService *SenderRequestsAPIService
	pageLimit *int32
	pageOffset *int32
	sort *string
	way *SortWay
	filterStatus *SenderRequestStatus
	filterId *int32
	filterCountryCode *string
	filterSender *string
	filterCreatedAt *time.Time
}

func (r ApiSenderRequestsRequest) PageLimit(pageLimit int32) ApiSenderRequestsRequest {
	r.pageLimit = &pageLimit
	return r
}

func (r ApiSenderRequestsRequest) PageOffset(pageOffset int32) ApiSenderRequestsRequest {
	r.pageOffset = &pageOffset
	return r
}

func (r ApiSenderRequestsRequest) Sort(sort string) ApiSenderRequestsRequest {
	r.sort = &sort
	return r
}

func (r ApiSenderRequestsRequest) Way(way SortWay) ApiSenderRequestsRequest {
	r.way = &way
	return r
}

func (r ApiSenderRequestsRequest) FilterStatus(filterStatus SenderRequestStatus) ApiSenderRequestsRequest {
	r.filterStatus = &filterStatus
	return r
}

func (r ApiSenderRequestsRequest) FilterId(filterId int32) ApiSenderRequestsRequest {
	r.filterId = &filterId
	return r
}

func (r ApiSenderRequestsRequest) FilterCountryCode(filterCountryCode string) ApiSenderRequestsRequest {
	r.filterCountryCode = &filterCountryCode
	return r
}

func (r ApiSenderRequestsRequest) FilterSender(filterSender string) ApiSenderRequestsRequest {
	r.filterSender = &filterSender
	return r
}

func (r ApiSenderRequestsRequest) FilterCreatedAt(filterCreatedAt time.Time) ApiSenderRequestsRequest {
	r.filterCreatedAt = &filterCreatedAt
	return r
}

func (r ApiSenderRequestsRequest) Execute() (*SenderRequests200Response, *http.Response, error) {
	return r.ApiService.SenderRequestsExecute(r)
}

/*
SenderRequests List of Sender Requests

Get SMS Senders request status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSenderRequestsRequest
*/
func (a *SenderRequestsAPIService) SenderRequests(ctx context.Context) ApiSenderRequestsRequest {
	return ApiSenderRequestsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SenderRequests200Response
func (a *SenderRequestsAPIService) SenderRequestsExecute(r ApiSenderRequestsRequest) (*SenderRequests200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SenderRequests200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SenderRequestsAPIService.SenderRequests")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/senders/requests/sms"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[limit]", r.pageLimit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageLimit = &defaultValue
	}
	if r.pageOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[offset]", r.pageOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pageOffset = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		r.sort = &defaultValue
	}
	if r.way != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "way", r.way, "form", "")
	} else {
		var defaultValue SortWay = "asc"
		r.way = &defaultValue
	}
	if r.filterStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[status]", r.filterStatus, "form", "")
	}
	if r.filterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[id]", r.filterId, "form", "")
	}
	if r.filterCountryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[country_code]", r.filterCountryCode, "form", "")
	}
	if r.filterSender != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[sender]", r.filterSender, "form", "")
	}
	if r.filterCreatedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[created_at]", r.filterCreatedAt, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
