/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PostCampaignsWhatsappSendAPIService PostCampaignsWhatsappSendAPI service
type PostCampaignsWhatsappSendAPIService service

type ApiPostCampaignsWhatsappSendRequest struct {
	ctx context.Context
	ApiService *PostCampaignsWhatsappSendAPIService
	sendWhatsAppCampaign *SendWhatsAppCampaign
}

func (r ApiPostCampaignsWhatsappSendRequest) SendWhatsAppCampaign(sendWhatsAppCampaign SendWhatsAppCampaign) ApiPostCampaignsWhatsappSendRequest {
	r.sendWhatsAppCampaign = &sendWhatsAppCampaign
	return r
}

func (r ApiPostCampaignsWhatsappSendRequest) Execute() (*CampaignSchema, *http.Response, error) {
	return r.ApiService.PostCampaignsWhatsappSendExecute(r)
}

/*
PostCampaignsWhatsappSend Send WhatsApp campaign

This method allows you to send a whatsapp. The same message will be sent to list of phones

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostCampaignsWhatsappSendRequest
*/
func (a *PostCampaignsWhatsappSendAPIService) PostCampaignsWhatsappSend(ctx context.Context) ApiPostCampaignsWhatsappSendRequest {
	return ApiPostCampaignsWhatsappSendRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CampaignSchema
func (a *PostCampaignsWhatsappSendAPIService) PostCampaignsWhatsappSendExecute(r ApiPostCampaignsWhatsappSendRequest) (*CampaignSchema, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CampaignSchema
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PostCampaignsWhatsappSendAPIService.PostCampaignsWhatsappSend")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/campaigns/whatsapp/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sendWhatsAppCampaign == nil {
		return localVarReturnValue, nil, reportError("sendWhatsAppCampaign is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.sendWhatsAppCampaign
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
