/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ContactListSearchAPIService ContactListSearchAPI service
type ContactListSearchAPIService service

type ApiContactListSearchRequest struct {
	ctx context.Context
	ApiService *ContactListSearchAPIService
	pageOffset *int32
	pageLimit *int32
	sort *string
	way *SortWay
	searchField *ContactGroupSearchField
	searchOperator *SearchOperator
	searchValue *string
	searchFields0Field *ContactGroupSearchField
	searchFields0Operator *SearchOperator
	searchFields0Value *string
}

func (r ApiContactListSearchRequest) PageOffset(pageOffset int32) ApiContactListSearchRequest {
	r.pageOffset = &pageOffset
	return r
}

// The number of items in the response
func (r ApiContactListSearchRequest) PageLimit(pageLimit int32) ApiContactListSearchRequest {
	r.pageLimit = &pageLimit
	return r
}

func (r ApiContactListSearchRequest) Sort(sort string) ApiContactListSearchRequest {
	r.sort = &sort
	return r
}

func (r ApiContactListSearchRequest) Way(way SortWay) ApiContactListSearchRequest {
	r.way = &way
	return r
}

func (r ApiContactListSearchRequest) SearchField(searchField ContactGroupSearchField) ApiContactListSearchRequest {
	r.searchField = &searchField
	return r
}

func (r ApiContactListSearchRequest) SearchOperator(searchOperator SearchOperator) ApiContactListSearchRequest {
	r.searchOperator = &searchOperator
	return r
}

func (r ApiContactListSearchRequest) SearchValue(searchValue string) ApiContactListSearchRequest {
	r.searchValue = &searchValue
	return r
}

func (r ApiContactListSearchRequest) SearchFields0Field(searchFields0Field ContactGroupSearchField) ApiContactListSearchRequest {
	r.searchFields0Field = &searchFields0Field
	return r
}

func (r ApiContactListSearchRequest) SearchFields0Operator(searchFields0Operator SearchOperator) ApiContactListSearchRequest {
	r.searchFields0Operator = &searchFields0Operator
	return r
}

func (r ApiContactListSearchRequest) SearchFields0Value(searchFields0Value string) ApiContactListSearchRequest {
	r.searchFields0Value = &searchFields0Value
	return r
}

func (r ApiContactListSearchRequest) Execute() (*ContactListSearch200Response, *http.Response, error) {
	return r.ApiService.ContactListSearchExecute(r)
}

/*
ContactListSearch Search list

Method for searching the list of contacts using operations like, =, >, >=, <, <=.
Search is possible by the following fields: 

- name
- description
- date
- items
- phone
- id


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContactListSearchRequest
*/
func (a *ContactListSearchAPIService) ContactListSearch(ctx context.Context) ApiContactListSearchRequest {
	return ApiContactListSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ContactListSearch200Response
func (a *ContactListSearchAPIService) ContactListSearchExecute(r ApiContactListSearchRequest) (*ContactListSearch200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContactListSearch200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactListSearchAPIService.ContactListSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/groups/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[offset]", r.pageOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pageOffset = &defaultValue
	}
	if r.pageLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[limit]", r.pageLimit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageLimit = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		r.sort = &defaultValue
	}
	if r.way != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "way", r.way, "form", "")
	} else {
		var defaultValue SortWay = "asc"
		r.way = &defaultValue
	}
	if r.searchField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[field]", r.searchField, "form", "")
	}
	if r.searchOperator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[operator]", r.searchOperator, "form", "")
	}
	if r.searchValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[value]", r.searchValue, "form", "")
	}
	if r.searchFields0Field != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_fields[0][field]", r.searchFields0Field, "form", "")
	}
	if r.searchFields0Operator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_fields[0][operator]", r.searchFields0Operator, "form", "")
	}
	if r.searchFields0Value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_fields[0][value]", r.searchFields0Value, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
