/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// OtpTemplateCreateAPIService OtpTemplateCreateAPI service
type OtpTemplateCreateAPIService service

type ApiOtpTemplateCreateRequest struct {
	ctx context.Context
	ApiService *OtpTemplateCreateAPIService
	otpTemplateCreateRequest *OtpTemplateCreateRequest
}

func (r ApiOtpTemplateCreateRequest) OtpTemplateCreateRequest(otpTemplateCreateRequest OtpTemplateCreateRequest) ApiOtpTemplateCreateRequest {
	r.otpTemplateCreateRequest = &otpTemplateCreateRequest
	return r
}

func (r ApiOtpTemplateCreateRequest) Execute() (*OtpTemplateCreate200Response, *http.Response, error) {
	return r.ApiService.OtpTemplateCreateExecute(r)
}

/*
OtpTemplateCreate Create a message template

This method creates a new message template used for sending the OTP code.  

**Please note** *that after creating the template, it is moderated. This template will be available for sending messages
with the OTP code only after moderation. Once it’s ready, its status will be changed from Requested to Approved.*

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOtpTemplateCreateRequest
*/
func (a *OtpTemplateCreateAPIService) OtpTemplateCreate(ctx context.Context) ApiOtpTemplateCreateRequest {
	return ApiOtpTemplateCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OtpTemplateCreate200Response
func (a *OtpTemplateCreateAPIService) OtpTemplateCreateExecute(r ApiOtpTemplateCreateRequest) (*OtpTemplateCreate200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OtpTemplateCreate200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OtpTemplateCreateAPIService.OtpTemplateCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2fa/authentications/templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.otpTemplateCreateRequest == nil {
		return localVarReturnValue, nil, reportError("otpTemplateCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.otpTemplateCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v OtpTemplateCreate422Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
