/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// OtpListAPIService OtpListAPI service
type OtpListAPIService service

type ApiOtpListRequest struct {
	ctx context.Context
	ApiService *OtpListAPIService
	filterFrom *string
	filterTo *string
	pageOffset *int32
	pageLimit *int32
	filterIds *[]string
	filterStatus *OtpStatus
	filterChannel *OtpChannel
	filterRecipient *string
	filterCountryCode *string
	way *SortWay
	sort *string
}

// Period start date (date and time when the authentication session was created) in ISO 8601 format.
func (r ApiOtpListRequest) FilterFrom(filterFrom string) ApiOtpListRequest {
	r.filterFrom = &filterFrom
	return r
}

// End date of the period (date and time when the authentication was created) in ISO 8601 format.
func (r ApiOtpListRequest) FilterTo(filterTo string) ApiOtpListRequest {
	r.filterTo = &filterTo
	return r
}

func (r ApiOtpListRequest) PageOffset(pageOffset int32) ApiOtpListRequest {
	r.pageOffset = &pageOffset
	return r
}

func (r ApiOtpListRequest) PageLimit(pageLimit int32) ApiOtpListRequest {
	r.pageLimit = &pageLimit
	return r
}

// Authentication ID. The maximum number is 3.
func (r ApiOtpListRequest) FilterIds(filterIds []string) ApiOtpListRequest {
	r.filterIds = &filterIds
	return r
}

func (r ApiOtpListRequest) FilterStatus(filterStatus OtpStatus) ApiOtpListRequest {
	r.filterStatus = &filterStatus
	return r
}

func (r ApiOtpListRequest) FilterChannel(filterChannel OtpChannel) ApiOtpListRequest {
	r.filterChannel = &filterChannel
	return r
}

func (r ApiOtpListRequest) FilterRecipient(filterRecipient string) ApiOtpListRequest {
	r.filterRecipient = &filterRecipient
	return r
}

func (r ApiOtpListRequest) FilterCountryCode(filterCountryCode string) ApiOtpListRequest {
	r.filterCountryCode = &filterCountryCode
	return r
}

func (r ApiOtpListRequest) Way(way SortWay) ApiOtpListRequest {
	r.way = &way
	return r
}

// Sort by
func (r ApiOtpListRequest) Sort(sort string) ApiOtpListRequest {
	r.sort = &sort
	return r
}

func (r ApiOtpListRequest) Execute() (*OtpList200Response, *http.Response, error) {
	return r.ApiService.OtpListExecute(r)
}

/*
OtpList List of authentication sessions

Use to get a list of authentications for a period.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOtpListRequest
*/
func (a *OtpListAPIService) OtpList(ctx context.Context) ApiOtpListRequest {
	return ApiOtpListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OtpList200Response
func (a *OtpListAPIService) OtpListExecute(r ApiOtpListRequest) (*OtpList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OtpList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OtpListAPIService.OtpList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2fa/authentications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.filterFrom == nil {
		return localVarReturnValue, nil, reportError("filterFrom is required and must be specified")
	}
	if r.filterTo == nil {
		return localVarReturnValue, nil, reportError("filterTo is required and must be specified")
	}

	if r.pageOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[offset]", r.pageOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pageOffset = &defaultValue
	}
	if r.pageLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[limit]", r.pageLimit, "form", "")
	} else {
		var defaultValue int32 = 10
		r.pageLimit = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "filter[from]", r.filterFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filter[to]", r.filterTo, "form", "")
	if r.filterIds != nil {
		t := *r.filterIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ids]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[ids]", t, "form", "multi")
		}
	}
	if r.filterStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[status]", r.filterStatus, "form", "")
	}
	if r.filterChannel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[channel]", r.filterChannel, "form", "")
	}
	if r.filterRecipient != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[recipient]", r.filterRecipient, "form", "")
	}
	if r.filterCountryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[country_code]", r.filterCountryCode, "form", "")
	}
	if r.way != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "way", r.way, "form", "")
	} else {
		var defaultValue SortWay = "asc"
		r.way = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		r.sort = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
