/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// CampaignsAPIService CampaignsAPI service
type CampaignsAPIService service

type ApiCampaignsRequest struct {
	ctx context.Context
	ApiService *CampaignsAPIService
	pageOffset *int32
	pageLimit *int32
	sort *string
	way *SortWay
	filterFrom *time.Time
	filterTo *time.Time
	filterType *string
	searchField *string
	searchValue *string
}

func (r ApiCampaignsRequest) PageOffset(pageOffset int32) ApiCampaignsRequest {
	r.pageOffset = &pageOffset
	return r
}

// The number of items in the response
func (r ApiCampaignsRequest) PageLimit(pageLimit int32) ApiCampaignsRequest {
	r.pageLimit = &pageLimit
	return r
}

// Sort items by
func (r ApiCampaignsRequest) Sort(sort string) ApiCampaignsRequest {
	r.sort = &sort
	return r
}

func (r ApiCampaignsRequest) Way(way SortWay) ApiCampaignsRequest {
	r.way = &way
	return r
}

// Include items from
func (r ApiCampaignsRequest) FilterFrom(filterFrom time.Time) ApiCampaignsRequest {
	r.filterFrom = &filterFrom
	return r
}

// Include items to
func (r ApiCampaignsRequest) FilterTo(filterTo time.Time) ApiCampaignsRequest {
	r.filterTo = &filterTo
	return r
}

// Filter items by type type
func (r ApiCampaignsRequest) FilterType(filterType string) ApiCampaignsRequest {
	r.filterType = &filterType
	return r
}

// Filter items by search[field]&#x3D;search[value]
func (r ApiCampaignsRequest) SearchField(searchField string) ApiCampaignsRequest {
	r.searchField = &searchField
	return r
}

// Filter items by search[field]&#x3D;search[value]
func (r ApiCampaignsRequest) SearchValue(searchValue string) ApiCampaignsRequest {
	r.searchValue = &searchValue
	return r
}

func (r ApiCampaignsRequest) Execute() (*SearchCampaignResource, *http.Response, error) {
	return r.ApiService.CampaignsExecute(r)
}

/*
Campaigns List of campaigns

Get a list of campaigns based on specified criteria

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCampaignsRequest
*/
func (a *CampaignsAPIService) Campaigns(ctx context.Context) ApiCampaignsRequest {
	return ApiCampaignsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchCampaignResource
func (a *CampaignsAPIService) CampaignsExecute(r ApiCampaignsRequest) (*SearchCampaignResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchCampaignResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignsAPIService.Campaigns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/campaigns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[offset]", r.pageOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pageOffset = &defaultValue
	}
	if r.pageLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[limit]", r.pageLimit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageLimit = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		r.sort = &defaultValue
	}
	if r.way != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "way", r.way, "form", "")
	} else {
		var defaultValue SortWay = "asc"
		r.way = &defaultValue
	}
	if r.filterFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[from]", r.filterFrom, "form", "")
	}
	if r.filterTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[to]", r.filterTo, "form", "")
	}
	if r.filterType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[type]", r.filterType, "form", "")
	}
	if r.searchField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[field]", r.searchField, "form", "")
	}
	if r.searchValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[value]", r.searchValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
