/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PostContactsFieldsDeleteAPIService PostContactsFieldsDeleteAPI service
type PostContactsFieldsDeleteAPIService service

type ApiPostContactsFieldsDeleteRequest struct {
	ctx context.Context
	ApiService *PostContactsFieldsDeleteAPIService
	postContactsFieldsDeleteRequest *PostContactsFieldsDeleteRequest
}

func (r ApiPostContactsFieldsDeleteRequest) PostContactsFieldsDeleteRequest(postContactsFieldsDeleteRequest PostContactsFieldsDeleteRequest) ApiPostContactsFieldsDeleteRequest {
	r.postContactsFieldsDeleteRequest = &postContactsFieldsDeleteRequest
	return r
}

func (r ApiPostContactsFieldsDeleteRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.PostContactsFieldsDeleteExecute(r)
}

/*
PostContactsFieldsDelete Delete contact fields by ids

Delete multiple (up to 30) contact fields

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostContactsFieldsDeleteRequest
*/
func (a *PostContactsFieldsDeleteAPIService) PostContactsFieldsDelete(ctx context.Context) ApiPostContactsFieldsDeleteRequest {
	return ApiPostContactsFieldsDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *PostContactsFieldsDeleteAPIService) PostContactsFieldsDeleteExecute(r ApiPostContactsFieldsDeleteRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PostContactsFieldsDeleteAPIService.PostContactsFieldsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/contacts/fields/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postContactsFieldsDeleteRequest == nil {
		return localVarReturnValue, nil, reportError("postContactsFieldsDeleteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postContactsFieldsDeleteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
