/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ShortUrlsClicksAPIService ShortUrlsClicksAPI service
type ShortUrlsClicksAPIService service

type ApiShortUrlsClicksRequest struct {
	ctx context.Context
	ApiService *ShortUrlsClicksAPIService
	from *string
	to *string
	page *int32
	perPage *int32
	campaign *int32
}

// From date
func (r ApiShortUrlsClicksRequest) From(from string) ApiShortUrlsClicksRequest {
	r.from = &from
	return r
}

// To date
func (r ApiShortUrlsClicksRequest) To(to string) ApiShortUrlsClicksRequest {
	r.to = &to
	return r
}

// Get items starting from this page.
func (r ApiShortUrlsClicksRequest) Page(page int32) ApiShortUrlsClicksRequest {
	r.page = &page
	return r
}

// The number of items in the page. Possible values are from 10 to 500.
func (r ApiShortUrlsClicksRequest) PerPage(perPage int32) ApiShortUrlsClicksRequest {
	r.perPage = &perPage
	return r
}

// Campaign id to get only clicks on short link sent as part on [sms campaign](#tag/Campaign-SMS)
func (r ApiShortUrlsClicksRequest) Campaign(campaign int32) ApiShortUrlsClicksRequest {
	r.campaign = &campaign
	return r
}

func (r ApiShortUrlsClicksRequest) Execute() (*ShortUrlsClicks200Response, *http.Response, error) {
	return r.ApiService.ShortUrlsClicksExecute(r)
}

/*
ShortUrlsClicks List of clicks

List of all clicks for selected period *from* - *to* with pagination by *per_page*

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiShortUrlsClicksRequest
*/
func (a *ShortUrlsClicksAPIService) ShortUrlsClicks(ctx context.Context) ApiShortUrlsClicksRequest {
	return ApiShortUrlsClicksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ShortUrlsClicks200Response
func (a *ShortUrlsClicksAPIService) ShortUrlsClicksExecute(r ApiShortUrlsClicksRequest) (*ShortUrlsClicks200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ShortUrlsClicks200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShortUrlsClicksAPIService.ShortUrlsClicks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/short-url/clicks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		r.perPage = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.campaign != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "campaign", r.campaign, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
