/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// StoplistItemsAPIService StoplistItemsAPI service
type StoplistItemsAPIService service

type ApiStoplistItemsRequest struct {
	ctx context.Context
	ApiService *StoplistItemsAPIService
	pageOffset *int32
	pageLimit *int32
	type_ *string
}

func (r ApiStoplistItemsRequest) PageOffset(pageOffset int32) ApiStoplistItemsRequest {
	r.pageOffset = &pageOffset
	return r
}

// The number of items in the response
func (r ApiStoplistItemsRequest) PageLimit(pageLimit int32) ApiStoplistItemsRequest {
	r.pageLimit = &pageLimit
	return r
}

// Specify the type of the stop list for which we need to return the contact list. If the stop list type is not specified, the method will return data for all the stop list types
func (r ApiStoplistItemsRequest) Type_(type_ string) ApiStoplistItemsRequest {
	r.type_ = &type_
	return r
}

func (r ApiStoplistItemsRequest) Execute() (*StoplistItems200Response, *http.Response, error) {
	return r.ApiService.StoplistItemsExecute(r)
}

/*
StoplistItems List the contacts of stop lists

The method allows getting a list of contacts that were added to the SMS and/or Viber stop list

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiStoplistItemsRequest
*/
func (a *StoplistItemsAPIService) StoplistItems(ctx context.Context) ApiStoplistItemsRequest {
	return ApiStoplistItemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return StoplistItems200Response
func (a *StoplistItemsAPIService) StoplistItemsExecute(r ApiStoplistItemsRequest) (*StoplistItems200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StoplistItems200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoplistItemsAPIService.StoplistItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/stoplist"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[offset]", r.pageOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pageOffset = &defaultValue
	}
	if r.pageLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[limit]", r.pageLimit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.pageLimit = &defaultValue
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
