/*
One-API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bsgapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// GetMessagesAPIService GetMessagesAPI service
type GetMessagesAPIService service

type ApiGetMessagesRequest struct {
	ctx context.Context
	ApiService *GetMessagesAPIService
	pageOffset *int32
	pageLimit *int32
	sort *string
	way *SortWay
	filterId *int32
	filterCampaignId *int32
	filterReferenceId *string
	filterFrom *time.Time
	filterTo *time.Time
}

func (r ApiGetMessagesRequest) PageOffset(pageOffset int32) ApiGetMessagesRequest {
	r.pageOffset = &pageOffset
	return r
}

// The number of items in the response
func (r ApiGetMessagesRequest) PageLimit(pageLimit int32) ApiGetMessagesRequest {
	r.pageLimit = &pageLimit
	return r
}

// Field to sort the results
func (r ApiGetMessagesRequest) Sort(sort string) ApiGetMessagesRequest {
	r.sort = &sort
	return r
}

func (r ApiGetMessagesRequest) Way(way SortWay) ApiGetMessagesRequest {
	r.way = &way
	return r
}

func (r ApiGetMessagesRequest) FilterId(filterId int32) ApiGetMessagesRequest {
	r.filterId = &filterId
	return r
}

// Filter by campaign Id received when [send message](#operation/sms_send)
func (r ApiGetMessagesRequest) FilterCampaignId(filterCampaignId int32) ApiGetMessagesRequest {
	r.filterCampaignId = &filterCampaignId
	return r
}

// Filter by reference passed when [send message](#operation/sms_send)
func (r ApiGetMessagesRequest) FilterReferenceId(filterReferenceId string) ApiGetMessagesRequest {
	r.filterReferenceId = &filterReferenceId
	return r
}

// Filter message from this date. format ― Y-m-d H:i:s
func (r ApiGetMessagesRequest) FilterFrom(filterFrom time.Time) ApiGetMessagesRequest {
	r.filterFrom = &filterFrom
	return r
}

// Filter message up to this date. format ― Y-m-d H:i:s
func (r ApiGetMessagesRequest) FilterTo(filterTo time.Time) ApiGetMessagesRequest {
	r.filterTo = &filterTo
	return r
}

func (r ApiGetMessagesRequest) Execute() (*GetMessages200Response, *http.Response, error) {
	return r.ApiService.GetMessagesExecute(r)
}

/*
GetMessages Find messages

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMessagesRequest
*/
func (a *GetMessagesAPIService) GetMessages(ctx context.Context) ApiGetMessagesRequest {
	return ApiGetMessagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetMessages200Response
func (a *GetMessagesAPIService) GetMessagesExecute(r ApiGetMessagesRequest) (*GetMessages200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetMessages200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GetMessagesAPIService.GetMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageOffset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[offset]", r.pageOffset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pageOffset = &defaultValue
	}
	if r.pageLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[limit]", r.pageLimit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.pageLimit = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		r.sort = &defaultValue
	}
	if r.way != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "way", r.way, "form", "")
	} else {
		var defaultValue SortWay = "asc"
		r.way = &defaultValue
	}
	if r.filterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[id]", r.filterId, "form", "")
	}
	if r.filterCampaignId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[campaign_id]", r.filterCampaignId, "form", "")
	}
	if r.filterReferenceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[reference_id]", r.filterReferenceId, "form", "")
	}
	if r.filterFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[from]", r.filterFrom, "form", "")
	}
	if r.filterTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[to]", r.filterTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
