openapi: 3.0.0
info:
  title: One-API
  version: "2.0"
servers:
- description: Base url to all calls
  url: https://one-api.bsg.world
tags:
- description: |
    JWT Token used to authorize API-requests.
    The authorization process is possible upon the availability of a JWT-token, using which each subsequent query to the API should be signed.
    JWT-Token is passed in the header of any request, except when the token itself is received, when this code is not required:
    ```json
    "Authorization": "Bearer: {JWT-token}"
    ```
    To receive a JWT-token, you need to send a request passing the api-key from the "SMPP/API Password" tab of the Integrations & API section in [your personal account](https://app.bsg.world/integration/remote).
  name: Auth
  x-seo-title: API Authentication | BSG API
  x-page-description: "JWT Token used to authorize API-requests. The authorization\
    \ process is possible upon the availability of a JWT-token, using which each subsequent\
    \ query to the API should be signed. To receive a JWT-token, you need to send\
    \ a request passing the api-key from the Integrations and API section in your\
    \ personal account."
- description: "Design API requests to build multi-channel messaging cascades. Automatically\
    \ deliver messages via SMS, RCS, WhatsApp, Viber, or Email. Prioritize channels\
    \ for cost-effective delivery with auto-retry logic that automatically reaches\
    \ alternative channels if the primary message fails to deliver."
  name: Messaging Cascade / Omnichannel Messaging
  x-seo-title: Multi-Channel Messaging Cascades | BSG API
  x-page-description: "Design API requests to build multi-channel messaging cascades.\
    \ Automatically deliver messages via SMS, RCS, WhatsApp, Viber, or Email with\
    \ auto-retry logic and priority ordering."
- description: Send bulk SMS campaigns with the same text to a list of phone numbers.
    Manage campaign scheduling and track delivery status. Support personalized messages
    with different text for each recipient and contact list targeting.
  name: SMS Messaging
  x-seo-title: Commercial/Bulk SMS Messaging | BSG API
  x-page-description: "Send bulk SMS campaigns with the same text to a list of phone\
    \ numbers. Manage campaign scheduling, personalized messages, and contact list\
    \ targeting."
- description: "Send single or bulk RCS messages to multiple phone numbers. Supports\
    \ scheduling, alternative SMS channel, sender settings, and adding variables to\
    \ the message content."
  name: RCS Messaging
  x-seo-title: Bulk RCS Messaging with SMS Fallback | BSG API
  x-page-description: "Send single or bulk RCS messages to multiple phone numbers.\
    \ Supports scheduling, alternative SMS channel, sender settings, and variables."
- description: "WhatsApp Messaging API. Supports interactive buttons, images, video,\
    \ and other templates. Supports alternative SMS fallback. Send single WhatsApp\
    \ messages or campaigns to contact lists."
  name: WhatsApp Messaging
  x-seo-title: WhatsApp Messaging with SMS Fallback | BSG API
  x-page-description: "WhatsApp Messaging API. Supports interactive buttons, images,\
    \ video, and templates with SMS fallback."
- description: Transactional Email API for businesses. Integrates automated email
    system with inbound and outbound email alerts. Send single emails or use message
    templates for personalized delivery.
  name: Email Messaging
  x-seo-title: Transactional Email Messaging | BSG API
  x-page-description: Transactional Email API for businesses. Integrates automated
    email system with templates for personalized delivery.
- description: "Integrate secure 2FA into your applications. BSG API enables OTP generation,\
    \ multi-channel delivery via SMS, Viber, and other channels. Set rule chains,\
    \ maximum verification attempts, and custom code length with automatic expiration."
  name: TwoFA
  x-seo-title: OTP Multi-Channel Code Delivery & Verification | BSG API
  x-page-description: Integrate secure 2FA into your applications. BSG API enables
    OTP generation and multi-channel delivery.
- description: "Create short links for SMS campaigns. Track statistics, limit clicks,\
    \ and manage redirect settings. Use custom short domains for branded URLs."
  name: ShortURL
  x-seo-title: Short URL Management | BSG API
  x-page-description: "Create short links for SMS campaigns. Track statistics, limit\
    \ clicks, and manage redirect settings."
- description: "Check your account balance. Returns current pricing, currency, and\
    \ billing information. View rates for SMS, Viber, Telegram, WhatsApp and Voice\
    \ services. Get tariff information by country."
  name: Balance Management
  x-seo-title: Balance & Pricing Management | BSG API
  x-page-description: "Check your account balance, view current pricing, currency,\
    \ and tariff information for SMS, Viber, Telegram, WhatsApp and Voice services."
- description: "BSG Contact Book API. Create address books, import phone numbers,\
    \ and segment your customers for effective message campaigns. Manage contacts,\
    \ custom fields, contact lists, and stop lists."
  name: Contacts Management
  x-seo-title: Contacts Management & Segmentation | BSG API
  x-page-description: "BSG Contact Book API. Create address books, import phone numbers,\
    \ and segment your customers for effective message campaigns."
- name: Balance
  x-parent: Balance Management
- name: account_balance
  x-parent: Balance
  x-displayName: Get Balance
- name: account_tariffs
  x-parent: Balance
  x-displayName: Get Tariffs
- name: login
  x-parent: Auth
  x-displayName: Receive JWT token
- name: refresh_token
  x-parent: Auth
  x-displayName: Refresh JWT token
- description: |
    General rules for sending messages

    - Successful sending of an RCS message is possible only under certain conditions:
      - RCS agent is registered for the client and is in active status
      - Recipient's phone number:
        - supports the ability to receive RCS notifications
        - is not in the RCS stop list (if the stop list check was enabled in the request to send the message)
    - In API requests to send RCS messages, the list of recipients' phone numbers must be unique (no duplicates)
    - The maximum allowed number of contacts in one campaign is 5000
    - If the created campaign contains messages to subscribers from countries that do not match the RCS agent, such messages will not be sent. You will be able to view the campaign statistics and details of its messages after sending

    **Sending RCS messages in the TEST Mode Account**

    In the test mode of the account, the client can send RCS messages on behalf of the test agent (permission to use it must be agreed with the manager in advance).
    Withdrawals for sending RCS messages on behalf of the test agent are made from the client's credit/own funds on the balance sheet.
    Sending an RCS message in test mode is allowed only to a verified contact (the recipient's phone number that has been confirmed by the client via a code).

    **Billing of RCS messages**
    The RCS message is charged at the expense of the client's principal balance and credit limit.
    Billing is performed only for RCS messages with the status Delivered.
    The cost of an RCS message in the customer's tariff depends on the direction of delivery;
    RCS message type (text, single card/carousel).
    If you use an alternative SMS channel, the message is charged at the price of an SMS message according to the connected tariff on your account.
    If the client's balance runs out of funds while sending messages, the created campaign is paused (the campaign is assigned the "Paused" status). After replenishing the balance, to continue sending messages, you need to resume the campaign yourself.

    **Webhook**
    By configuring the URL for the webhook in your personal account on the [Integration and API page](https://app.bsg.world/integration/remote), in the Callback URL For RCS field, you can receive reports with the status of RCS messages sent.
  name: Campaign RCS
  x-parent: RCS Messaging
  x-page-description: General rules for sending RCS messages. Successful sending requires
    an active RCS agent registered for the client and recipient phone number that
    supports RCS notifications. The list of recipients phone numbers must be unique
    with no duplicates. Maximum allowed number of contacts in one campaign is 5000.
    Billing is performed only for RCS messages with status Delivered.
- name: rcs_send
  x-parent: Campaign RCS
  x-displayName: Send RCS Message
- name: rcs_send_groups
  x-parent: Campaign RCS
  x-displayName: Send RCS Message to Contact List
- name: rcs_single
  x-parent: Campaign RCS
  x-displayName: Send Single RCS Message
- description: |
    BSG Campaign SMS API is a RESTful API for send both single and group SMS.

    - You can send number of SMS by a single request with the [same text](#operation/sms_send) or use [different text for each number](#operation/sms_send_individual).
    - You can pass list of phone numbers or use address book stored earlier and reused. Try [send-groups](#operation/sms_send_groups)
    - You can use templates to personalize message for every receiver.
    - You can use automatically created [short links](#tag/Short-Links) to detect which of them specifically clicked on the link from your message.
  name: Campaign SMS
  x-parent: SMS Messaging
  x-page-description: BSG Campaign SMS API is a RESTful API for sending both single
    and group SMS. You can send multiple SMS by a single request with the same text
    or use different text for each number. You can pass a list of phone numbers or
    use an address book stored earlier and reused. You can use templates to personalize
    message for every receiver. You can use automatically created short links to detect
    which recipients clicked on the link from your message.
- name: Senders
  x-parent: SMS Messaging
- name: Messages SMS
  x-parent: Messaging Cascade / Omnichannel Messaging
- name: sms_send
  x-parent: Campaign SMS
  x-displayName: Send SMS Campaign
- name: sms_send_groups
  x-parent: Campaign SMS
  x-displayName: Send SMS to Contact List
- name: sms_send_individual
  x-parent: Campaign SMS
  x-displayName: Send Personalized SMS
- name: senders_tag
  x-parent: Senders
  x-displayName: Get SMS Senders List
- name: sender_requests
  x-parent: Senders
  x-displayName: Get SMS Sender Status
- name: sender_request_legal
  x-parent: Senders
  x-displayName: Sender registration by a legal entity
- name: sender_request_natural
  x-parent: Senders
  x-displayName: Sender registration by an individual
- name: get_messages
  x-parent: Messages SMS
  x-displayName: Get Single Message Info
- description: |
    Universal campaign management methods applied to all the types of campaigns (sms, viber, rcs, email, etc ...)

    - [Pause the campaign](#/operation/campaign_stop)
  name: Campaign
  x-parent: Messaging Cascade / Omnichannel Messaging
  x-page-description: "Universal campaign management methods applied to all types\
    \ of campaigns including SMS, Viber, RCS, Email and others. These endpoints allow\
    \ you to get campaign information, view campaign details, calculate prices and\
    \ pause or cancel campaigns."
- name: campaigns
  x-parent: Campaign
  x-displayName: Get Messaging Campaigns List
- name: campaign_tag
  x-parent: Campaign
  x-displayName: Get Campaign Basic Info
- name: campaign_details
  x-parent: Campaign
  x-displayName: Get Campaign Details
- name: campaign_price
  x-parent: Campaign
  x-displayName: Calculate Campaign Price
- name: campaign_stop
  x-parent: Campaign
  x-displayName: Stop Campaign
- name: Campaign WhatsApp
  x-parent: WhatsApp Messaging
- name: Messages WhatsApp
  x-parent: WhatsApp Messaging
- name: post_campaignsWhatsappSend
  x-parent: Campaign WhatsApp
  x-displayName: Send WhatsApp Message Campaign
- name: whatsapp_single
  x-parent: Messages WhatsApp
  x-displayName: Send Single WhatsApp Message
- description: |
    API provides you an opportunity to manage contacts for subsequent single and multiple uses when conducting SMS, Viber, or Number Verification campaigns. You can create new contacts, view, edit, group, delete existing contacts.
    Also you can combine contacts to lists and store additional field to personalize your messages.

    For example you can send messages to list of your contacts about following event and use personal contact name in every message to looks more friendly.
    So you can:

    - Manage contacts
    - Manage custom fields
    - Manage contact lists
  name: Contact
  x-parent: Contacts Management
  x-page-description: "API provides you an opportunity to manage contacts for subsequent\
    \ single and multiple uses when conducting SMS, Viber, or Number Verification\
    \ campaigns. You can create new contacts, view, edit, group, and delete existing\
    \ contacts. Also you can combine contacts into lists and store additional fields\
    \ to personalize your messages."
- name: Contact Field
  x-parent: Contacts Management
- name: Contact List
  x-parent: Contacts Management
- name: contacts
  x-parent: Contact
  x-displayName: Get Contact List
- name: contacts_search
  x-parent: Contact
  x-displayName: Search Contacts
- name: contact_tag
  x-parent: Contact
  x-displayName: Get Contact by ID
- name: contact_create
  x-parent: Contact
  x-displayName: Create Contact
- name: contact_update
  x-parent: Contact
  x-displayName: Update Contact
- name: contact_delete
  x-parent: Contact
  x-displayName: Delete Contact
- name: contacts_delete
  x-parent: Contact
  x-displayName: Delete Multiple Contacts
- name: contact_fields
  x-parent: Contact Field
  x-displayName: Get List of Contact Fields
- name: contact_field_create
  x-parent: Contact Field
  x-displayName: Create Contact Field
- name: contact_field_update
  x-parent: Contact Field
  x-displayName: Update Contact Field
- name: post_contactsFieldsDelete
  x-parent: Contact Field
  x-displayName: Delete Contact Fields by ID
- name: contact_lists
  x-parent: Contact List
  x-displayName: List Contact Lists
- name: contact_list_search
  x-parent: Contact List
  x-displayName: Search Contact List
- name: contact_list_tag
  x-parent: Contact List
  x-displayName: Get Contact List Details
- name: contact_list_create
  x-parent: Contact List
  x-displayName: Create Contact List
- name: contact_list_update
  x-parent: Contact List
  x-displayName: Update Contact List
- name: contact_list_delete
  x-parent: Contact List
  x-displayName: Delete Contact List
- name: contact_list_attach
  x-parent: Contact List
  x-displayName: Add Contacts to the List
- name: contact_list_detach
  x-parent: Contact List
  x-displayName: Remove Contacts from the List
- name: Email
  x-parent: Email Messaging
- name: email_send
  x-parent: Email
  x-displayName: Send Transactional Email
- name: email_template_send
  x-parent: Email
  x-displayName: Send Transactional Email Template
- description: |-
    BSG Short Urls API is a RESTful API for instant short links in campaign messages to track clicks geography and campaign performance.

    Start using Short Urls by your [account](https://app.bsg.world/url-shortener/links) or API.

    **Stand out with shorter, branded, and trackable URLs**
  name: Short Links
  x-parent: ShortURL
  x-page-description: "BSG Short Urls API is a RESTful API for instant short links\
    \ in campaign messages to track clicks geography and campaign performance. Stand\
    \ out with shorter, branded, and trackable URLs."
- description: |-
    You also can use your own short domains for short links. Just add it to your
    [account](https://app.bsg.world/url-shortener/domains) by UI or using this API

    Using those methods you can list, add, update and delete your personal domains.

    **Please note:** after adding domain you have to setup dns on your side to correctly resolve domain name to our ip.
    It's necessary to add A-record and CNAME to your dns. To read more please click "Add domain" in your [account](https://app.bsg.world/url-shortener/domains)
  name: Short Domains
  x-parent: ShortURL
  x-page-description: "You can use your own short domains for short links. Using these\
    \ methods you can list, add, update and delete your personal domains. After adding\
    \ a domain you have to setup DNS on your side to correctly resolve domain name\
    \ to our IP."
- name: short_urls_links
  x-parent: Short Links
  x-displayName: List Short Links
- name: short_urls_link
  x-parent: Short Links
  x-displayName: Get Short Link Statistic
- name: short_urls_link_create
  x-parent: Short Links
  x-displayName: Create Short Link
- name: short_urls_link_update
  x-parent: Short Links
  x-displayName: Update Short Link
- name: short_urls_link_delete
  x-parent: Short Links
  x-displayName: Delete Short Link
- name: short_urls_clicks
  x-parent: Short Links
  x-displayName: List of Clicks
- name: short_urls_domains
  x-parent: Short Domains
  x-displayName: List Short Domains
- name: short_urls_domain
  x-parent: Short Domains
  x-displayName: Get Short Domain Details
- name: short_urls_domain_create
  x-parent: Short Domains
  x-displayName: Add Short Domain
- name: short_urls_domain_update
  x-parent: Short Domains
  x-displayName: Update Short Domain
- name: short_urls_domain_remove
  x-parent: Short Domains
  x-displayName: Delete Short Domain
- name: Stop list
  x-parent: Contacts Management
- name: stoplist_items
  x-parent: Stop list
  x-displayName: Get Blacklisted Contacts
- name: stoplist_search
  x-parent: Stop list
  x-displayName: Search Contacts in Stop Lists
- name: stoplist_add
  x-parent: Stop list
  x-displayName: Add Contacts to Stop List
- name: stoplist_remove
  x-parent: Stop list
  x-displayName: Remove Contacts from Stop List
- description: |-
    BSG TwoFA API is a RESTful API for two-factor user authentication on a website or web application: you can use it to confirm a transaction, and user contact information, as a second factor in user authentication, and more.
    BSG TwoFA API provides a choice of channel for sending a one-time password (OTP) to a user: SMS or Viber. Connect the channel you need in your personal account on the "Settings" page of the "TwoFA" section and start working with the BSG TwoFA API.

    **Please note:** TwoFA API is not available for use in DEMO account modes (modes in which your account data is not verified).

    Make sure that you have entered all the necessary data in your account settings in order to use the TwoFA service.

    **Be reliable. Use TwoFA**
  name: TwoFA OTP
  x-parent: TwoFA
  x-page-description: "BSG TwoFA API is a RESTful API for two-factor user authentication\
    \ on a website or web application. You can use it to confirm transactions, verify\
    \ user contact information, as a second factor in user authentication, and more.\
    \ BSG TwoFA API provides a choice of channel for sending a one-time password (OTP)\
    \ to a user via SMS or Viber. TwoFA API is not available for use in DEMO account\
    \ modes."
- description: |-
    To send TwoFA codes through SMS (or others) you have to register message template first.

    Use this api methods to list, create and delete TwoFA templates.
  name: TwoFA Templates
  x-parent: TwoFA
  x-page-description: "To send TwoFA codes through SMS or other channels you have\
    \ to register a message template first. Use these API methods to list, create\
    \ and delete TwoFA templates."
- name: send_otp
  x-parent: TwoFA OTP
  x-displayName: Send One-Time Password
- name: resend_otp
  x-parent: TwoFA OTP
  x-displayName: Resend One-Time Password
- name: verify_otp
  x-parent: TwoFA OTP
  x-displayName: Verify One-Time Password
- name: status_otp
  x-parent: TwoFA OTP
  x-displayName: Get Authentication Status
- name: cancel_otp
  x-parent: TwoFA OTP
  x-displayName: Cancel Authentication Session
- name: otp_list
  x-parent: TwoFA OTP
  x-displayName: Get List of Authentication Sessions
- name: otp_template_list
  x-parent: TwoFA Templates
  x-displayName: Get Message Templates List
- name: otp_template
  x-parent: TwoFA Templates
  x-displayName: Get Message Template Details
- name: otp_template_create
  x-parent: TwoFA Templates
  x-displayName: Create Message Template
- name: otp_template_delete
  x-parent: TwoFA Templates
  x-displayName: Delete Message Template
paths:
  /api/accounts/balance:
    get:
      description: |-
        Platform provides an API to get information about your account balance.
        The request allows you to obtain information about the current balance of your account, including the credit limit
      operationId: account_balance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalance200Response'
          description: Account balance data
      security:
      - ExternalAuth: []
      summary: Get balance
      tags:
      - account_balance
  /api/accounts/tariff:
    get:
      description: |-
        This API allows you to get detailed information about the tariffs for sending SMS and Viber messages, as well as phone Number Verifier requests.

        All rates are specified in the currency that is set in the account settings on the Platform.

        The method transmits information about all available account tariffs for the SMS / 2 Way SMS, Viber, and Number Verifier service
      operationId: account_tariffs
      parameters:
      - explode: true
        in: query
        name: "page[offset]"
        required: false
        schema:
          $ref: '#/components/schemas/PageOffset'
        style: form
      - description: The number of items in the response
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          example: 50
          maximum: 500
          minimum: 15
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTariffs200Response'
          description: List of the tariffs
      security:
      - ExternalAuth: []
      summary: Get tariffs
      tags:
      - account_tariffs
  /api/auth/login:
    post:
      description: Receive JWT token to use with other method. Use live/test api-key
        to login. JWT-token has limited lifetime and have to be refreshed before become
        expired
      operationId: login
      requestBody:
        content:
          application/json:
            example:
              api_key: live_XXXXXXXXXXXXXXXXXXXX
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSchema'
          description: Successful operation
      summary: Receive JWT token
      tags:
      - login
  /api/auth/refresh:
    post:
      description: Refresh JWT token. Return new JWT-token to new term. It's necessary
        to call when actual JWT-token almost expired
      operationId: refresh_token
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSchema'
          description: Successful operation
      security:
      - ExternalAuth: []
      summary: Refresh JWT token
      tags:
      - refresh_token
  /api/campaigns/price:
    post:
      description: |
        Calculate campaign estimated price before actually [send it](#operation/sms_send)

        **Please note:** Method suitable only for SMS campaigns
      operationId: campaign_price
      requestBody:
        content:
          application/json:
            examples:
              required:
                summary: required
                value:
                  sender: Vet klinika
                  text: hello!
                  messages:
                  - phone: 38267161234
              contact list:
                summary: contact list
                value:
                  sender: Vet klinika
                  text: hello!
                  groups:
                  - 1864275
              tariff:
                summary: tariff
                value:
                  sender: Vet klinika
                  text: hello!
                  messages:
                  - phone: 38267161234
                  tariff_code: 9
            schema:
              $ref: '#/components/schemas/CampaignPriceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignPrice200Response'
          description: Campaign price
        "422":
          content:
            application/json:
              examples:
                invalid_tariff:
                  description: Pass correct tariff_code or don’t pass at all
                  summary: Tariff was not found
                  value:
                    message: Tariff was not found
                    errors: []
                invalid_data:
                  description: |-
                    The given data was invalid. It can be one of the following:

                    - **This value is too long. It should have 15 characters or less.** - Phone number is incorrect
                  summary: The given data was invalid.
                  value:
                    message: The given data was invalid.
                    errors:
                      messages0phone:
                      - This value is too long. It should have 15 characters or less.
              schema:
                $ref: '#/components/schemas/CampaignPrice422Response'
          description: Error
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Calculate campaign price
      tags:
      - campaign_price
  /api/campaigns/{id}/detail:
    get:
      description: Campaign detail information and delivery statistics
      operationId: campaign_details
      parameters:
      - example: 53651994
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                details:
                  summary: details
                  value:
                    data:
                      id: 53651994
                      name: SMS api campaign / 2024-04-03 12:14:49
                      sender: testsms
                      status: done
                      type: sms
                      started_at: 2024-04-03 12:14:49
                      actual_start_at: 2024-04-03 12:15:06
                      finished_at: 2024-04-03 12:15:07
                      created_at: 2024-04-03 12:14:49
                      statistics:
                        delivered: 7
                        sent: 0
                        scheduled: 0
                        moderation: 0
                        accepted: 0
                        sending: 0
                        expired: 0
                        failed: 0
                        undelivered: 3
                        unknown: 0
                        read: 0
                        not_viber_user: 0
                        not_rcs_user: 0
                      total_messages: 10
                      total_phones: 10
                      total_price: "0.16"
                      currency: USD
                      alternative_channels: []
              schema:
                $ref: '#/components/schemas/CampaignDetails200Response'
          description: Campaign details
      security:
      - ExternalAuth: []
      summary: Get campaign details
      tags:
      - campaign_details
  /api/campaigns/rcs/send:
    post:
      description: |-
        This method provides the ability to send a single rcs message or to send a mass rcs message.
        It also supports sending messages via an alternative SMS channel if the rcs can’t be delivered
      operationId: rcs_send
      requestBody:
        content:
          application/json:
            examples:
              simple_text:
                summary: simple_text
                value:
                  phones:
                  - number: "380661231231"
                  sender: rcs_sender
                  options:
                    text: Hello! ☺️
              full:
                summary: full
                value:
                  phones:
                  - number: "380661231231"
                    reference_id: f2d37bf77f6242daa83f23b0cc84b627
                  sender: rcs_sender
                  options:
                    cards:
                    - title: The message
                      text: Hello! ☺️
                      media:
                        url: https://domain.com/video.mp4
                      suggestions:
                      - text: Go to site
                        url: https://domain.com/
                        postback_data: site
                      - text: Call us
                        phone: "380991112233"
                        postback_data: call
                  alternative_channel:
                    sms:
                      text: Hello! It’s just test message. Please ignore it!
                      sender: testsms
                      validity_seconds: 30
                      validity: 72
                      check_stop_list: true
                  start_at: 2025-04-10 09:00:00
                  tariff_code: 9
                  validity_seconds: 30
                  validity: 72
                  add_to_contact_book: true
                  check_stop_list: false
            schema:
              $ref: '#/components/schemas/SendRcsCampaign'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response_example:
                  summary: response_example
                  value:
                    data:
                      id: 53708808
                      name: RCS api campaign / 2025-04-14 13:43:13
                      sender: rcs_sender
                      status: done
                      message_type: rcs
                      start_at: 2025-04-14 10:43:13
                      real_start_at: null
                      finished_at: null
                      created_at: 2025-04-14 13:43:13
                      statistics:
                        delivered: 0
                        sent: 0
                      calculated_price: 0.0175696
                      currency: USD
                      alternative_channels: null
              schema:
                $ref: '#/components/schemas/RcsSend200Response'
          description: Campaign info
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Send RCS message
      tags:
      - rcs_send_groups
  /api/campaigns/rcs/send-groups:
    post:
      description: |-
        The method provides the ability to send rcs messages to a group of contacts (the group ID is created in the client’s contact book).

        The ability to send messages via an alternative SMS channel is also supported
      operationId: rcs_send_groups
      requestBody:
        content:
          application/json:
            examples:
              simple_text:
                summary: simple_text
                value:
                  groups:
                  - 1864275
                  sender: rcs_sender
                  options:
                    text: Hello! ☺️
              full:
                summary: full
                value:
                  groups:
                  - 1864275
                  sender: rcs_sender
                  options:
                    cards:
                    - title: The message
                      text: Hello! ☺️
                      media:
                        url: https://domain.com/video.mp4
                      suggestions:
                      - text: Go to site
                        url: https://domain.com/
                      - text: Call us
                        phone: "380991112233"
                  alternative_channel:
                    sms:
                      text: Hello! It’s just test message. Please ignore it!
                      sender: testsms
                      validity_seconds: 30
                      validity: 72
                      check_stop_list: true
                  start_at: 2025-04-10 09:00:00
                  tariff_code: 9
                  validity_seconds: 30
                  validity: 72
                  add_to_contact_book: true
                  check_stop_list: false
            schema:
              $ref: '#/components/schemas/SendRcsCampaignGroups'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response_example:
                  summary: response_example
                  value:
                    data:
                      id: 53708808
                      name: RCS api campaign / 2025-04-14 13:43:13
                      sender: rcs_sender
                      status: done
                      message_type: rcs
                      start_at: 2025-04-14 10:43:13
                      real_start_at: null
                      finished_at: null
                      created_at: 2025-04-14 13:43:13
                      statistics:
                        delivered: 0
                        sent: 0
                      calculated_price: 0.0175696
                      currency: USD
                      alternative_channels: null
              schema:
                $ref: '#/components/schemas/RcsSendGroups200Response'
          description: Campaign info
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Send RCS message to contact list
      tags:
      - Campaign RCS
  /api/campaigns:
    get:
      description: Get a list of campaigns based on specified criteria
      operationId: campaigns
      parameters:
      - explode: true
        in: query
        name: "page[offset]"
        required: false
        schema:
          $ref: '#/components/schemas/PageOffset'
        style: form
      - description: The number of items in the response
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          example: 50
          maximum: 500
          minimum: 30
          type: integer
        style: form
      - description: Sort items by
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: id
          enum:
          - id
          - sender
          - type
          - date
          - status
          type: string
        style: form
      - explode: true
        in: query
        name: way
        required: false
        schema:
          $ref: '#/components/schemas/SortWay'
        style: form
      - description: Include items from
        explode: true
        in: query
        name: "filter[from]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Include items to
        explode: true
        in: query
        name: "filter[to]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter items by type type
        explode: true
        in: query
        name: "filter[type]"
        required: false
        schema:
          enum:
          - sms
          - rcs
          - whatsapp
          type: string
        style: form
      - description: "Filter items by search[field]=search[value]"
        explode: true
        in: query
        name: "search[field]"
        required: false
        schema:
          enum:
          - sender
          - taskname
          type: string
        style: form
      - description: "Filter items by search[field]=search[value]"
        explode: true
        in: query
        name: "search[value]"
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCampaignResource'
          description: Paginated list of campaigns
      security:
      - ExternalAuth: []
      summary: List of campaigns
      tags:
      - campaigns
  /api/campaigns/send:
    post:
      description: "The method allows sending a campaign of any type: sms, rcs, whatsapp.\
        \ The same text to list of phones will sent as single campaign"
      operationId: campaign_send
      requestBody:
        content:
          application/json:
            examples:
              SMS minimal:
                summary: SMS minimal
                value:
                  channels:
                  - sms
                  recipients:
                    phones:
                    - number: 380661231231
                  sms:
                    sender: Best Seller
                    text: test
              SMS complete:
                summary: SMS complete
                value:
                  channels:
                  - sms
                  recipients:
                    phones:
                    - number: 380661231231
                      reference_id: f2d37bf77f6242daa83f23b0cc84b627
                    - number: 380661231232
                      reference_id: f2d37bf77f6242daa83f23b0cc84b628
                    - number: 380661231233
                      reference_id: f2d37bf77f6242daa83f23b0cc84b629
                  sms:
                    sender: supercredit
                    text: "The gift for you, follow LINK"
                    tariff_code: 9
                    validity: 24
                    start_at: 2025-01-25 13:00:00
                    unsubscribe_caption: unsubscribe
                    short_links:
                    - link: https://www.netflix.com/ua/
                      placeholder: LINK
                      domain_ids:
                      - 21b6f472-7e9a-4c71-9518-e9a0e0b09284
                      - bc7166bf-eff7-4bc6-9e60-9c9f0a852fce
                      change_domain_after: 1
                      protocol: false
                    transliterate: true
              Viber minimal:
                summary: Viber minimal
                value:
                  channels:
                  - viber
                  recipients:
                    groups:
                    - 1234
                  viber:
                    sender: viber_store
                    text: The gift for you is waiting on https://supersite.com/sale?id=123456789
              Viber complete:
                summary: Viber complete
                value:
                  channels:
                  - viber
                  - sms
                  recipients:
                    phones:
                    - number: 380661233211
                      reference_id: f2d37bf77f6242daa83aaafff1112233
                    - number: 380661233212
                      reference_id: f2d37bf77f6242daa83aaafff1112233
                    - number: 380661233213
                      reference_id: f2d37bf77f6242daa83aaafff1112233
                  tariff_code: 9
                  validity: 24
                  start_at: 2025-01-25 13:00:00
                  dry_run: false
                  viber:
                    sender: supercredit
                    text: "The gift for you, best product"
                    image_url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
                    button_caption: Get it FREE
                    link_url: https://my.shop/product/1234567890
                  sms:
                    text: Hello! It’s just test message. Please ignore it!
                    sender: testsms
              RCS text minimal:
                summary: RCS text minimal
                value:
                  channels:
                  - rcs
                  recipients:
                    groups:
                    - 1864275
                  rcs:
                    sender: rcs_sender
                    text: Hello! ☺️
              RCS complete:
                summary: RCS complete
                value:
                  channel:
                  - rcs
                  - sms
                  recipients:
                    phones:
                    - number: 380661246980
                      reference_id: f2d37321654987acbbbcaeff77985541
                    - number: 380661246982
                      reference_id: f2d37321654987acbbbcaeff77985542
                    - number: 380661246984
                      reference_id: f2d37321654987acbbbcaeff77985543
                  rcs:
                    sender: rcs_sender
                    cards:
                    - title: The message
                      text: Hello! ☺️
                      media:
                        url: https://domain.com/video.mp4
                      suggestions:
                      - text: Go to site
                        url: https://domain.com/
                      - text: Call us
                        phone: "380991112233"
                  sms:
                    text: Hello! It’s just test message. Please ignore it!
                    sender: testsms
                  start_at: 2025-04-10 09:00:00
                  tariff_code: 9
                  validity: 72
                  add_to_contact_book: true
                  check_stop_list: false
            schema:
              $ref: '#/components/schemas/Campaign'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                simple campaign:
                  summary: single
                  value:
                    data:
                      id: 53651994
                      name: SMS api campaign / 2024-04-03 12:14:49
                      sender: testsms
                      status: done
                      message_type: sms
                      start_at: 2024-04-03 12:14:49
                      real_start_at: 2024-04-03 12:15:06
                      finished_at: 2024-04-03 12:15:07
                      created_at: 2024-04-03 12:14:49
                      statistics:
                        delivered: 7
                        sent: 10
                      calculated_price: 0
                      currency: null
                      alternative_channels: null
              schema:
                $ref: '#/components/schemas/CampaignResponse'
          description: Campaign info
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Send campaign
      tags:
      - Campaign
  /api/campaigns/{id}:
    get:
      description: Retrieve campaign with all it’s properties
      operationId: campaign
      parameters:
      - example: 53651994
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                simple campaign:
                  summary: single
                  value:
                    data:
                      id: 53651994
                      name: SMS api campaign / 2024-04-03 12:14:49
                      sender: testsms
                      status: done
                      message_type: sms
                      start_at: 2024-04-03 12:14:49
                      real_start_at: 2024-04-03 12:15:06
                      finished_at: 2024-04-03 12:15:07
                      created_at: 2024-04-03 12:14:49
                      statistics:
                        delivered: 7
                        sent: 10
                      calculated_price: 0
                      currency: null
                      alternative_channels: null
              schema:
                $ref: '#/components/schemas/CampaignResponse'
          description: Campaign info
      security:
      - ExternalAuth: []
      summary: Get campaign info
      tags:
      - campaign_tag
  /api/campaigns/sms/send-groups:
    post:
      description: "The method allows sending an SMS to the contacts list from the\
        \ Contact Book. The campaign can contain personalized data from the contact\
        \ fields in the text of the message for each contact. \n\nIt is possible to\
        \ specify no more than 10 000 contacts for one campaign.\n\n**Limitation:**\
        \ \n\n- In the DEMO account mode, creating a campaign via API is not available.\n\
        - In the TEST platform mode, creating a campaign is possible only for the\
        \ verified numbers."
      operationId: sms_send_groups
      requestBody:
        content:
          application/json:
            examples:
              required:
                summary: required
                value:
                  groups:
                  - 1864275
                  text: hello!
                  sender: Vet klinika
              full:
                summary: full
                value:
                  groups:
                  - 1864275
                  sender: supercredit
                  text: "The gift for you, follow fff"
                  tariff_code: 9
                  validity: 24
                  start_at: 2025-03-27 19:44:06
                  short_links:
                  - link: https://www.netflix.com/ua/
                    placeholder: fff
                    domain_ids:
                    - 21b6f472-7e9a-4c71-9518-e9a0e0b09284
                    - bc7166bf-eff7-4bc6-9e60-9c9f0a852fce
                    change_domain_after: 1
                    protocol: false
                  transliterate: true
            schema:
              $ref: '#/components/schemas/SmsSendGroupsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                single:
                  summary: single
                  value:
                    data:
                      id: 53703353
                      name: SMS api campaign / 2025-03-03 20:05:47
                      sender: Vet klinika
                      status: done
                      message_type: sms
                      start_at: 2025-03-03 20:05:47
                      real_start_at: null
                      finished_at: null
                      created_at: 2025-03-03 20:05:47
                      statistics:
                        delivered: 0
                        sent: 0
                      calculated_price: 0.015
                      currency: USD
                      alternative_channels: null
              schema:
                $ref: '#/components/schemas/SmsCampaignResponse'
          description: Campaign info
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Send SMS to contact list
      tags:
      - sms_send_groups
  /api/campaigns/sms/send:
    post:
      description: The method allows sending an SMS. The same text to list of phones
        will sent as single campaign
      operationId: sms_send
      requestBody:
        content:
          application/json:
            examples:
              minimal:
                summary: minimal
                value:
                  phones:
                  - number: 380661231231
                  sender: Vet klinika
                  text: test
              complete:
                summary: complete
                value:
                  phones:
                  - number: 380661231231
                    reference_id: f2d37bf77f6242daa83f23b0cc84b627
                  - number: 380661231232
                    reference_id: f2d37bf77f6242daa83f23b0cc84b628
                  - number: 380661231233
                    reference_id: f2d37bf77f6242daa83f23b0cc84b629
                  sender: supercredit
                  text: "The gift for you, follow LINK"
                  tariff_code: 9
                  validity: 24
                  start_at: 2025-01-25 13:00:00
                  short_links:
                  - link: https://www.netflix.com/ua/
                    placeholder: LINK
                    domain_ids:
                    - 21b6f472-7e9a-4c71-9518-e9a0e0b09284
                    - bc7166bf-eff7-4bc6-9e60-9c9f0a852fce
                    change_domain_after: 1
                    protocol: false
                  transliterate: true
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                single:
                  summary: single
                  value:
                    data:
                      id: 53703353
                      name: SMS api campaign / 2025-03-03 20:05:47
                      sender: Vet klinika
                      status: done
                      message_type: sms
                      start_at: 2025-03-03 20:05:47
                      real_start_at: null
                      finished_at: null
                      created_at: 2025-03-03 20:05:47
                      statistics:
                        delivered: 0
                        sent: 0
                      calculated_price: 0.015
                      currency: USD
                      alternative_channels: null
              schema:
                $ref: '#/components/schemas/SmsCampaignResponse'
          description: Campaign info
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Send SMS campaign
      tags:
      - sms_send
  /api/campaigns/sms/send-individual:
    post:
      description: Send SMS with different text to list of phones
      operationId: sms_send_individual
      requestBody:
        content:
          application/json:
            examples:
              required:
                summary: required
                value:
                  messages:
                  - phone: 380661231231
                    text: hello Jack
                    sender: Vet klinika
                  - phone: 380661231232
                    text: hello Anna
                    sender: Vet klinika
                  - phone: 380661231233
                    text: Hi Hellen
                    sender: Vet klinika
              full:
                summary: full
                value:
                  messages:
                  - phone: 380661231231
                    text: Привет Джек
                    sender: Vet klinika
                    tarrif_code: 0
                    referenced_id: f2d37bf77f6242daa83f23b0cc84b627
                    transliterate: true
                  - phone: 380661231232
                    text: Привет Анна
                    sender: Vet klinika
                    tarrif_code: 0
                    referenced_id: f2d37bf77f6242daa83f23b0cc84b628
                    transliterate: false
                  - phone: 380661231233
                    text: Hi Hellen
                    sender: Vet klinika
                    tarrif_code: 5
                    referenced_id: f2d37bf77f6242daa83f23b0cc84b629
                    transliterate: false
                  tariff_code: 9
                  validity: 24
                  start_at: 2025-03-27 19:44:06
            schema:
              $ref: '#/components/schemas/SmsSendIndividualRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                single:
                  summary: single
                  value:
                    data:
                      id: 53703353
                      name: SMS api campaign / 2025-03-03 20:05:47
                      sender: Vet klinika
                      status: done
                      message_type: sms
                      start_at: 2025-03-03 20:05:47
                      real_start_at: null
                      finished_at: null
                      created_at: 2025-03-03 20:05:47
                      statistics:
                        delivered: 0
                        sent: 0
                      calculated_price: 0.015
                      currency: USD
                      alternative_channels: null
              schema:
                $ref: '#/components/schemas/SmsCampaignResponse'
          description: Campaign info
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Send SMS with different text
      tags:
      - sms_send_individual
  /api/campaigns/{id}/stop:
    patch:
      description: Abort the campaign and move it to finally status stopped
      operationId: campaign_stop
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                single:
                  summary: single
                  value:
                    data:
                      id: 53703420
                      name: SMS api campaign / 2025-03-11 14:13:11
                      sender: Vet klinika
                      status: stopped
                      message_type: sms
                      start_at: 2025-04-01 00:00:00
                      real_start_at: null
                      finished_at: null
                      created_at: 2025-03-11 14:13:11
                      statistics:
                        delivered: 0
                        sent: 3
                      calculated_price: 0
                      currency: null
                      alternative_channels: null
              schema:
                $ref: '#/components/schemas/CampaignStop200Response'
          description: Successful operation
        "422":
          content:
            application/json:
              examples:
                invalid_status:
                  description: |-
                    Invalid campaign status

                    The campaign must be in one of following status to be able to stop: "scheduled", "sending", "paused", "moderation"
                  summary: Invalid campaign status
                  value:
                    message: Invalid campaign status
                    errors: []
              schema:
                $ref: '#/components/schemas/CampaignStop422Response'
          description: Invalid campaign status
      security:
      - ExternalAuth: []
      summary: Cancel campaign
      tags:
      - campaign_stop
  /api/campaigns/viber/send:
    post:
      description: This method provides the ability to send a viber campaign.
      operationId: viber_send
      requestBody:
        content:
          application/json:
            examples:
              Viber minimal:
                summary: Viber minimal
                value:
                  phones:
                  - number: "380971123456"
                  text: some viber text
                  sender: Notify
              Viber complete:
                summary: Viber complete
                value:
                  phones:
                  - number: "380971123456"
                    reference_id: ref1
                  - number: "380661123456"
                    reference_id: ref2
                  text: some viber text 123
                  sender: Notify
                  image_url: https://img.somesite.com/beauty-image.jpg
                  button_caption: BUTTON
                  link_url: https://sample-site.com/?ad=123456
                  alternative_channel:
                    sms:
                      text: "visit our site: https://sample-site.com/?ad=123456"
                      sender: testsms
                  tariff_code: 9
                  add_to_contact_book: false
                  check_stop_list: false
                  validity: 72
                  start_at: 2026-10-10 11:22:33
            schema:
              $ref: '#/components/schemas/SendViberCampaign'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response_example:
                  summary: response_example
                  value:
                    data:
                      id: 53708808
                      name: Viber api campaign / 2025-04-14 13:43:13
                      sender: viber_sender
                      status: done
                      message_type: viber
                      start_at: 2025-04-14 10:43:13
                      real_start_at: null
                      finished_at: null
                      created_at: 2025-04-14 13:43:13
                      statistics:
                        delivered: 0
                        sent: 0
                      calculated_price: 0.0175696
                      currency: USD
                      alternative_channels: null
              schema:
                $ref: '#/components/schemas/ViberCampaignResponse'
          description: Campaign info
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Send Viber campaign
      tags:
      - Campaign Viber
  /api/campaigns/whatsapp/send:
    post:
      description: This method allows you to send a whatsapp. The same message will
        be sent to list of phones
      operationId: post_campaignsWhatsappSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendWhatsAppCampaign'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSchema'
          description: Campaign info
      security:
      - ExternalAuth: []
      summary: Send WhatsApp campaign
      tags:
      - post_campaignsWhatsappSend
  /api/contacts/{id}:
    delete:
      description: "Use this query to remove an existing contact from the Contact\
        \ Book. When this query is made, the contact will also be removed from all\
        \ lists where it was added."
      operationId: contact_delete
      parameters:
      - description: Contact id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ContactFieldId'
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                properties: {}
                title: ContactDelete204Response
                type: object
          description: Successful removed
      security:
      - ExternalAuth: []
      summary: Delete contact
      tags:
      - contact_delete
    get:
      description: "The method allows you to receive detailed information about an\
        \ existing contact, which is contained in the system, and user fields of the\
        \ contact"
      operationId: contact
      parameters:
      - description: Contact id
        example: 248452739
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ContactId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                grouped:
                  summary: grouped
                  value:
                    data:
                      id: 248452739
                      phone: 380965901726
                      fields:
                        "388077": Zufafa
                      groups:
                      - id: 1864618
                        name: "1111"
                        description: null
                        default: false
                        items: 0
                        created_at: 2025-02-19 14:50:21
                        stop_list_count: 0
                      hlr_status: unknown
                      hlr_last_check: null
                      created_at: 2025-02-19 14:51:44
                single:
                  summary: single
                  value:
                    data:
                      id: 248452953
                      phone: 380971443455
                      fields: []
                      groups: []
                      hlr_status: unknown
                      hlr_last_check: null
                      created_at: 2025-03-10 13:53:05
              schema:
                $ref: '#/components/schemas/Contact200Response'
          description: Contact object
        "422":
          content:
            application/json:
              examples:
                invalid_contact:
                  description: Invalid contact id
                  summary: Invalid contact id
                  value:
                    message: Invalid contact id
                    errors: []
              schema:
                $ref: '#/components/schemas/Contact422Response'
          description: Invalid contact id
      security:
      - ExternalAuth: []
      summary: Get contact by ID
      tags:
      - contact_tag
    put:
      description: |-
        The method allows you to make changes to an existing contact: change the phone number, data in the contact’s custom fields, and add the contact to the list.

        **Please note:** that in the TEST account mode there is a restriction for performing this method: you can only change the contact’s phone number to a verified number (number verification is performed in the personal account at the platform)
      operationId: contact_update
      parameters:
      - description: Contact id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ContactId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              full:
                summary: fill all the data
                value:
                  phone: 61401629754
                  fields:
                  - id: 387714
                    value: Ilya Muromets
                  groups:
                  - 1864618
            schema:
              $ref: '#/components/schemas/ContactUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                full:
                  summary: full
                  value:
                    data:
                      id: 248452959
                      phone: 61401629754
                      fields:
                        "387714": Ilya Muromets
                      created_at: 2025-03-13 14:51:33
                      hlr_status: unknown
                      hlr_last_check: null
                      groups:
                      - id: 1864618
                        name: "1111"
                        description: null
                        default: false
                        created_at: 2025-02-19 14:50:21
              schema:
                $ref: '#/components/schemas/ContactUpdate200Response'
          description: Successful updated
        "422":
          content:
            application/json:
              examples:
                invalid_contact:
                  description: Invalid contact id
                  summary: Invalid contact id
                  value:
                    message: Invalid contact id
                    errors: []
              schema:
                $ref: '#/components/schemas/ContactUpdate422Response'
          description: Error
      security:
      - ExternalAuth: []
      summary: Update contact
      tags:
      - contact_update
  /api/contacts/delete:
    post:
      description: |
        Method allow to delete multiple contacts (up to 5000) for a single request

        It may be list of contact ids to delete or list of contact lists ids to delete **contacts** included into these lists.
      operationId: contacts_delete
      parameters:
      - description: Contact ids to delete
        explode: true
        in: query
        name: "contact_ids[]"
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ContactId'
          type: array
        style: form
      - description: Contact lists ids to delete **contacts** included into these
          lists
        explode: true
        in: query
        name: "group_ids[]"
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ContactGroupId'
          type: array
        style: form
      responses:
        "204":
          content:
            application/json:
              schema:
                properties: {}
                title: ContactsDelete204Response
                type: object
          description: Successful removed
      security:
      - ExternalAuth: []
      summary: Delete multiple contacts
      tags:
      - contacts_delete
  /api/contacts:
    get:
      description: Get a list of existing contacts in the Contact Book of your account
        with detailed information on each of them. The method also allows you to get
        contacts from the certain lists that you specified in the query parameters.
      operationId: contacts
      parameters:
      - explode: true
        in: query
        name: "page[offset]"
        required: false
        schema:
          $ref: '#/components/schemas/PageOffset'
        style: form
      - description: The number of items in the response
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 20
          example: 50
          maximum: 500
          minimum: 15
          type: integer
        style: form
      - description: Index of IDs of the lists for which you want to display contacts
        example:
        - 1864618
        explode: true
        in: query
        name: "groups[]"
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ContactGroupId'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                several:
                  summary: several
                  value:
                    data:
                    - id: 248452739
                      phone: 380965901726
                      fields:
                        "388077": Zufafa
                      groups:
                      - id: 1864618
                        name: "1111"
                        description: null
                        default: false
                        items: 0
                        created_at: 2025-02-19 14:50:21
                        stop_list_count: 0
                      hlr_status: unknown
                      hlr_last_check: null
                      created_at: 2025-02-19 14:51:44
                    - id: 248452740
                      phone: 380934287926
                      fields:
                        "388077": Mezemka
                      groups:
                      - id: 1864618
                        name: "1111"
                        description: null
                        default: false
                        items: 0
                        created_at: 2025-02-19 14:50:21
                        stop_list_count: 0
                      hlr_status: unknown
                      hlr_last_check: null
                      created_at: 2025-02-19 14:51:44
                    total: 20
              schema:
                $ref: '#/components/schemas/Contacts200Response'
          description: Paginated list of contacts
      security:
      - ExternalAuth: []
      summary: List of contacts
      tags:
      - contacts
    post:
      description: "The method allows adding new contacts to your Contact Book. \n\
        \n**Please note:** that in the TEST account mode there is a restriction for\
        \ performing this method: it is possible to create a contact only for a verified\
        \ phone number (number verification is performed in the personal account of\
        \ the platform)."
      operationId: contact_create
      requestBody:
        content:
          application/json:
            examples:
              required:
                summary: only required field
                value:
                  phone: 61401629754
              field:
                summary: with custom field
                value:
                  phone: 61401629754
                  fields:
                  - id: 387714
                    value: ALESHA POPOVICH
              groups:
                summary: with including into lists
                value:
                  phone: 61401629754
                  groups:
                  - 1864618
            schema:
              $ref: '#/components/schemas/StoreContact'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                several:
                  summary: several
                  value:
                    data:
                      id: 248452959
                      phone: 61401629754
                      fields: []
                      created_at: 2025-03-13 14:51:33
                      hlr_status: unknown
                      hlr_last_check: null
                      groups: []
              schema:
                $ref: '#/components/schemas/ContactCreate201Response'
          description: Successful created
        "422":
          content:
            application/json:
              examples:
                duplicate_phone:
                  description: Phone number is already exist in contact book
                  summary: Duplicate phone number
                  value:
                    message: Phone number is already exist in contact book
                    errors: []
              schema:
                $ref: '#/components/schemas/ContactCreate422Response'
          description: Error
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Create a contact
      tags:
      - contact_create
  /api/contacts/search:
    get:
      description: "Method for searching contacts in the Contact Book. In the search,\
        \ it is possible to use operations: like, =, >, >=, <, <=.\n\nSearch is possible\
        \ by the following fields: \n\n- id:  =, >, >=, <, <=\n- phone: like, =\n\
        - {field_id}:\n  - for field with \"Text\" type: like, =\n  - for field with\
        \ \"Number\" type:  =, >, >=, <, <=\n  - for field with \"Date\" type: =,\
        \ >, >=, <, <=\n\nIt’s possible to pass multiple criteria by pass `search_fields`\
        \ array instead of `search`\n"
      operationId: contacts_search
      parameters:
      - explode: true
        in: query
        name: "page[offset]"
        required: false
        schema:
          $ref: '#/components/schemas/PageOffset'
        style: form
      - description: The number of items in the response
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          example: 50
          maximum: 500
          minimum: 15
          type: integer
        style: form
      - description: "Sort by conditions: id, phone"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: id
          enum:
          - id
          - phone
          type: string
        style: form
      - explode: true
        in: query
        name: way
        required: false
        schema:
          $ref: '#/components/schemas/SortWay'
        style: form
      - explode: true
        in: query
        name: "search[field]"
        required: false
        schema:
          $ref: '#/components/schemas/ContactSearchField'
        style: form
      - explode: true
        in: query
        name: "search[operator]"
        required: false
        schema:
          $ref: '#/components/schemas/SearchOperator'
        style: form
      - explode: true
        in: query
        name: "search[value]"
        required: false
        schema:
          $ref: '#/components/schemas/SearchValue'
        style: form
      - explode: true
        in: query
        name: "search_fields[0][field]"
        required: false
        schema:
          $ref: '#/components/schemas/ContactSearchField'
        style: form
      - explode: true
        in: query
        name: "search_fields[0][operator]"
        required: false
        schema:
          $ref: '#/components/schemas/SearchOperator'
        style: form
      - explode: true
        in: query
        name: "search_fields[0][value]"
        required: false
        schema:
          $ref: '#/components/schemas/SearchValue'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                several:
                  summary: several
                  value:
                    data:
                    - id: 248452739
                      phone: 380965901726
                      fields:
                        "388077": Zufafa
                      groups:
                      - id: 1864618
                        name: "1111"
                        description: null
                        default: false
                        created_at: 2025-02-19 14:50:21
                      hlr_status: unknown
                      hlr_last_check: null
                      created_at: 2025-02-19 14:51:44
                    meta:
                      page:
                        limit: 15
                        offset: 0
                        total: 1
                      search:
                        field: "388077"
                        operator: =
                        value: Zufafa
              schema:
                $ref: '#/components/schemas/ContactsSearch200Response'
          description: Searched contacts
      security:
      - ExternalAuth: []
      summary: Search contacts
      tags:
      - contacts_search
  /api/contacts/fields/delete:
    post:
      description: Delete multiple (up to 30) contact fields
      operationId: post_contactsFieldsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostContactsFieldsDeleteRequest'
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                properties: {}
                title: PostContactsFieldsDelete204Response
                type: object
          description: Successful removed
      security:
      - ExternalAuth: []
      summary: Delete contact fields by ids
      tags:
      - post_contactsFieldsDelete
  /api/contacts/fields:
    get:
      description: Get a list of custom fields
      operationId: contact_fields
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactFieldCollectionSchema'
          description: Contact field list
      security:
      - ExternalAuth: []
      summary: List of contact fields
      tags:
      - contact_fields
    post:
      description: The method allows the creation of additional custom fields for
        contacts
      operationId: contact_field_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactFieldCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactFieldCreate201Response'
          description: Successful created
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Create contact field
      tags:
      - contact_field_create
  /api/contacts/fields/{id}:
    patch:
      description: |
        Method for editing custom contact field:

        - change field name
        - change field description
      operationId: contact_field_update
      parameters:
      - description: Contact field id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ContactFieldId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactFieldUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactFieldUpdate200Response'
          description: Successful updated
      security:
      - ExternalAuth: []
      summary: Update contact field
      tags:
      - contact_field_update
  /api/groups/attach:
    post:
      description: The method provides the ability to add an existing contact to the
        list. The action can be single or bulk.
      operationId: contact_list_attach
      requestBody:
        content:
          application/json:
            examples:
              several:
                summary: several
                value:
                  contacts:
                  - 248452959
                  - 248452739
                  - 248452740
                  groups:
                  - 1864623
                  - 1864621
            schema:
              $ref: '#/components/schemas/ContactListAttachRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Successful attached
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Add contacts to the list
      tags:
      - contact_list_attach
  /api/groups/{id}:
    delete:
      description: "Method for deleting contact list. Please note that when you delete\
        \ a contact list, all contacts that were added to it are not deleted from\
        \ your Contact Book"
      operationId: contact_list_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ContactGroupId'
        style: simple
      responses:
        "204":
          description: Successful removed
      security:
      - ExternalAuth: []
      summary: Delete list
      tags:
      - contact_list_delete
    get:
      description: Get information about the contact list by its identifier
      operationId: contact_list
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ContactGroupId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                required:
                  summary: required
                  value:
                    data:
                      id: 1864620
                      name: List 1
                      description: crm leads 2025 export
                      default: false
                      created_at: 2025-02-27 11:48:13
                      items: 0
                      stop_list_count: 0
              schema:
                $ref: '#/components/schemas/ContactList200Response'
          description: Successful operation
      security:
      - ExternalAuth: []
      summary: Get list by id
      tags:
      - contact_list_tag
    put:
      description: Performs editing of the selected contacts list
      operationId: contact_list_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ContactGroupId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactListUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListUpdate200Response'
          description: Successful updated
        "422":
          content:
            application/json:
              examples:
                duplicate_list_name:
                  description: Contact group is already exists
                  summary: Duplicate contact list name
                  value:
                    message: Contact group is already exists
                    errors: []
              schema:
                $ref: '#/components/schemas/ContactListUpdate422Response'
          description: Error
      security:
      - ExternalAuth: []
      summary: Update list
      tags:
      - contact_list_update
  /api/groups/detach:
    post:
      description: Performs the removal of contact from the list. The action can be
        single (string) or bulk (array)
      operationId: contact_list_detach
      requestBody:
        content:
          application/json:
            examples:
              several:
                summary: several
                value:
                  contacts:
                  - 248452959
                  - 248452739
                  - 248452740
                  groups:
                  - 1864623
                  - 1864621
            schema:
              $ref: '#/components/schemas/ContactListDetachRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Successful detached
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Remove contacts from the list
      tags:
      - contact_list_detach
  /api/groups:
    get:
      description: Provides an index of all the contact lists with data
      operationId: contact_lists
      parameters:
      - explode: true
        in: query
        name: "page[offset]"
        required: false
        schema:
          $ref: '#/components/schemas/PageOffset'
        style: form
      - description: The number of items in the response
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          example: 50
          maximum: 500
          minimum: 15
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                several:
                  summary: several
                  value:
                    data:
                    - id: 1864619
                      name: Import XLS
                      description: null
                      default: false
                      created_at: 2025-02-27 11:48:13
                      items: 10000
                      stop_list_count: 0
                    - id: 1864580
                      name: List / 09.01.2025 / 10:31:55
                      description: null
                      default: false
                      created_at: 2025-01-09 08:31:58
                      items: 10000
                      stop_list_count: 0
                    total: 10
              schema:
                $ref: '#/components/schemas/ContactLists200Response'
          description: Successful operation
      security:
      - ExternalAuth: []
      summary: List of contact lists
      tags:
      - contact_lists
    post:
      description: Create a contact list to group contacts
      operationId: contact_list_create
      requestBody:
        content:
          application/json:
            examples:
              required:
                summary: only required field
                value:
                  name: new list 123
              full:
                summary: full
                value:
                  name: List 2
                  description: crm leads 2025 export
                  default: false
            schema:
              $ref: '#/components/schemas/ContactListCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                required:
                  summary: required
                  value:
                    data:
                      id: 1864620
                      name: List 1
                      description: crm leads 2025 export
                      default: false
                      created_at: 2025-02-27 11:48:13
                      items: 0
                      stop_list_count: 0
              schema:
                $ref: '#/components/schemas/ContactListCreate201Response'
          description: Successful created
        "422":
          content:
            application/json:
              examples:
                duplicate_list_name:
                  description: Contact group is already exists
                  summary: Duplicate contact list name
                  value:
                    message: Contact group is already exists
                    errors: []
              schema:
                $ref: '#/components/schemas/ContactListCreate422Response'
          description: Error
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Create list
      tags:
      - contact_list_create
  /api/groups/search:
    get:
      description: "Method for searching the list of contacts using operations like,\
        \ =, >, >=, <, <=.\nSearch is possible by the following fields: \n\n- name\n\
        - description\n- date\n- items\n- phone\n- id\n"
      operationId: contact_list_search
      parameters:
      - explode: true
        in: query
        name: "page[offset]"
        required: false
        schema:
          $ref: '#/components/schemas/PageOffset'
        style: form
      - description: The number of items in the response
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          example: 50
          maximum: 500
          minimum: 15
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: id
          description: "Sort by conditions: id, items, name, description, date"
          enum:
          - id
          - items
          - name
          - description
          - created_at
          type: string
        style: form
      - explode: true
        in: query
        name: way
        required: false
        schema:
          $ref: '#/components/schemas/SortWay'
        style: form
      - explode: true
        in: query
        name: "search[field]"
        required: false
        schema:
          $ref: '#/components/schemas/ContactGroupSearchField'
        style: form
      - explode: true
        in: query
        name: "search[operator]"
        required: false
        schema:
          $ref: '#/components/schemas/SearchOperator'
        style: form
      - explode: true
        in: query
        name: "search[value]"
        required: false
        schema:
          $ref: '#/components/schemas/SearchValue'
        style: form
      - explode: true
        in: query
        name: "search_fields[0][field]"
        required: false
        schema:
          $ref: '#/components/schemas/ContactGroupSearchField'
        style: form
      - explode: true
        in: query
        name: "search_fields[0][operator]"
        required: false
        schema:
          $ref: '#/components/schemas/SearchOperator'
        style: form
      - explode: true
        in: query
        name: "search_fields[0][value]"
        required: false
        schema:
          $ref: '#/components/schemas/SearchValue'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                single:
                  summary: single
                  value:
                    data:
                    - id: 1864618
                      name: "1111"
                      description: null
                      is_default: false
                      items: 1001
                      created_at: 2025-02-19 14:50:21
                    meta:
                      page:
                        limit: 15
                        offset: 0
                        total: 1
                      search:
                        field: phone
                        operator: =
                        value: "380965901726"
              schema:
                $ref: '#/components/schemas/ContactListSearch200Response'
          description: Successful operation
      security:
      - ExternalAuth: []
      summary: Search list
      tags:
      - contact_list_search
  /api/email/send-emails:
    post:
      description: "Method is designed for sending single email with optional parameters.\
        \  \n\nThis request allows you to send emails with both text and HTML content,\
        \ and optionally include inline media, such as images or other files, which\
        \ are embedded directly in the email body for a richer user experience"
      operationId: email_send
      requestBody:
        content:
          application/json:
            examples:
              simple_text:
                summary: simple_text
                value:
                  to:
                  - user@test.com
                  from: Test.email 11_22 <user@test1.email.bsg.world>
                  subject: test1
                  htmlbody: <html lang="en"><head><title>link to Symbl.cc</title></head><body><h1>Visit
                    site</h1>Visit site <a href="https://symbl.cc">Symbl.cc</a> for
                    additional information.</body></html>
              inlines:
                summary: inlines
                value:
                  to:
                  - user@test.com
                  from: Test.email 11_22 <user@test1.email.bsg.world>
                  subject: test1
                  htmlbody: <html lang="en"><head><title>link to Symbl.cc</title></head><body><h1>Visit
                    site</h1>Visit site <a href="https://symbl.cc">Symbl.cc</a> for
                    additional information.</body></html>
                  inlines:
                  - name: books.jpg
                    cid: books
                    content_type: image/jpeg
                    content: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=
            schema:
              $ref: '#/components/schemas/SendEmail'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponse'
          description: Message received
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Send Email
      tags:
      - email_send
  /api/email/send-template-emails:
    post:
      description: |-
        Method allows you to send an email with dynamic content by referencing an email template (specifying template id).
        You can customize the content of the email with variables, and you also have the option to embed inline media files
      operationId: email_template_send
      requestBody:
        content:
          application/json:
            examples:
              template:
                summary: template
                value:
                  to:
                  - user@test.com
                  from: Test.email 11_22 <user@test1.email.bsg.world>
                  subject: test1
                  template_id: 19
                  template_content:
                    recipients_name: Test User
                    company_name: Company Name
              inlines:
                summary: inlines
                value:
                  to:
                  - user@test.com
                  from: Test.email 11_22 <user@test1.email.bsg.world>
                  subject: test1
                  template_id: 19
                  template_content:
                    recipients_name: Test User
                    company_name: Company Name
                  inlines:
                  - name: books.jpg
                    cid: books
                    content_type: image/jpeg
                    content: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=
            schema:
              $ref: '#/components/schemas/SendTemplateEmail'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponse'
          description: Message received
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  summary: too_many_requests
                  value:
                    message: Too many duplicate request detected
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - ExternalAuth: []
      summary: Send Email template
      tags:
      - email_template_send
  /api/messages:
    get:
      operationId: get_messages
      parameters:
      - explode: true
        in: query
        name: "page[offset]"
        required: false
        schema:
          $ref: '#/components/schemas/PageOffset'
        style: form
      - description: The number of items in the response
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          example: 50
[...]
